<div class="modal fade modalAlert" id="modalAlert-success" tabindex="-1" role="status" aria-labelledby="labelAlertSuccess">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
                <h4 class="modal-title" id="labelAlertSuccess">Благодарим за заявку ;)</h4>
            </div>
            <div class="modal-body">
                <div class="alert text-success" id="success-alert">
                    <!--<a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>-->

                    <div id="panel_info" class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Напоминанием, </h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                что если&nbsp;Вы оставили заявку в&nbsp;воскресение, либо после 20:00, то&nbsp;мы&nbsp;свяжемся с&nbsp;вами на&nbsp;следующий день, утром.
                            </p>
                        </div>
                    </div>

                    <div id="panel_vk-lottery" class="panel panel-warning hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">Возможно, Вам будет интересно:</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                Как получить абонемент бесплатно?&nbsp;
                                <a href="http://vk.com" class="btn btn-primary1" target="_blank">
                                    Перейти
                                </a>
                            </p>
                        </div>
                    </div>

                    <div id="panel_vk-lottery" class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Мы в социальных сетях:</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <span class="youtube-logo">You<span class="youtube-logo__tube">Tube</span></span> &nbsp;
                                <a href="https://www.youtube.com/channel/UCfRwJPFycDAuQcJW1v2Oi-Q" class="btn btn-primary1" target="_blank">
                                    Перейти
                                </a>
                            </p>
                        </div>
                        <div class="panel-footer">
                            <div class="social">
                                <a href="https://vk.com/krepysh__com" class="social__elem" target="_blank">
                                    <span class="social__label">VK</span>
                                    <span class="social__icon social__icon_vk">
                                        <i class="fa fa-vk" aria-hidden="true"></i>
                                    </span>
                                </a>
                                <a href="https://www.instagram.com/krepysh_gymnasticsminsk/" class="social__elem" target="_blank">
                                    <span class="social__label">INSTAGRAM</span>
                                    <span class="social__icon social__icon_inst">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </span>
                                </a>
                                <a href="https://ok.ru/group/52873459400845" class="social__elem" target="_blank">
                                    <span class="social__label">ОДНОКЛАССНИКИ</span>
                                    <span class="social__icon social__icon_odnok">
                                        <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
                                    </span>
                                </a>
                                <a href="https://www.facebook.com/kr1pysh" class="social__elem" target="_blank">
                                    <span class="social__label">FACEBOOK</span>
                                    <span class="social__icon social__icon_f">
                                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
