<!DOCTYPE html>
<html lang="ru">

<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Крепыш - центр оздоровительной гимнастики для детей</title>

    <link rel="canonical" href="http://www.krepysh.com/" />

    <meta name="description" content="Оздоровительная гимнастика для детей" />
    <meta name="keywords" content="гимнастика, для детей, дошкольного возраста, от 3 лет, спортивная, оздоровительная">


    <meta property="og:title" content="Крепыш - центр оздоровительной гимнастики для детей"/>
    <meta property="og:description" content="Оздоровительная гимнастика для детей"/>
    <meta property="og:url" content="http://www.krepysh.com/"/>
    <meta property="og:locale" content="ru_BY" />
    <meta property="og:image" content="https://static.wixstatic.com/media/900402_83a69a63041c4cfeb16b998f54aff6eb.jpg"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Крепыш - центр оздоровительной гимнастики для детей"/>

    <link rel="home" href="http://www.krepysh.com/" />
    <!--<link rel="index" href="http://www.krepysh.com/sitemap/" />-->

    <!--<meta name="robots" content="noodp"/>-->


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no" />
    <meta name="author" content="Purouski Ilya" />

    <!--<link rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="icon" type="image/gif" href="img/favicon.gif">-->

    <!--<meta name="robots" content="noindex,nofollow,noodp,noarchive,nosnippet" />-->

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if gte IE 9]
        <style type="text/css">
            .gradient {
                filter: none;
            }
        </style>
    <![endif]-->

    <!-- build:css css/vendor.css -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Font-Awesome v4.6.3 CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous" />

    <!-- FancyBox -->
    <!--<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">-->

    <!-- bower:css -->
    <!-- endbower -->

    <!-- endbuild -->

    <!-- build:css css/main.css -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css?v=1.0.3" />
    <!-- endbuild -->

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,400italic,700|Roboto+Condensed:400,400italic,700|Roboto+Mono:700|Roboto+Slab:400,700&subset=cyrillic,latin' rel='stylesheet' type='text/css'>

</head>

<body lang="ru">
