<!DOCTYPE html>
<html lang="ru">

<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Центры оздоровительно-развивающей гимнастики в каждом районе Минска. Для детей от 3 до 8 лет. Крепыш - центр оздоровительной гимнастики для детей</title>

    <link rel="canonical" href="http://www.krepysh.com/" />

    <meta name="description" content="Центры оздоровительно-развивающей гимнастики в каждом районе Минска. Для детей от 3 до 8 лет." />
    <meta name="keywords" content="гимнастика, для детей, дошкольного возраста, от 3 лет, спортивная, оздоровительная, для детей 3 4 5 6 7 8 лет">


    <meta property="og:title" content="Центры оздоровительно-развивающей гимнастики в каждом районе Минска. Для детей от 3 до 8 лет. Крепыш - центр оздоровительной гимнастики для детей" />
    <meta property="og:description" content="Центры оздоровительно-развивающей гимнастики в каждом районе Минска. Для детей от 3 до 8 лет." />
    <meta property="og:url" content="http://www.krepysh.com/" />
    <meta property="og:locale" content="ru_BY" />
    <meta property="og:image" content="/krepysh.png" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Центры оздоровительно-развивающей гимнастики в каждом районе Минска. Для детей от 3 до 8 лет. Крепыш - центр оздоровительной гимнастики для детей" />

    <link rel="home" href="http://www.krepysh.com/" />
    <!--<link rel="index" href="http://www.krepysh.com/sitemap/" />-->

    <!--<meta name="robots" content="noodp"/>-->


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <!--<link rel="icon" type="image/png" href="img/favicon.png">-->
    <!--<link rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.ico">-->
    <!--<link rel="icon" type="image/gif" href="img/favicon.gif">-->

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--<meta name="robots" content="noindex,nofollow,noodp,noarchive,nosnippet" />-->

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if gte IE 9]
        <style type="text/css">
            .gradient {
                filter: none;
            }
        </style>
    <![endif]-->

    <!-- build:css css/vendor.css -->

    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Font-Awesome v4.7.0 CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- bower:css -->
    <!-- endbower -->

    <!-- endbuild -->

    <!-- build:css css/main.css -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css?v=1.4.7" />
    <!-- endbuild -->

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,400italic,700|Roboto+Condensed:400,400italic,700|Roboto+Mono:700|Roboto+Slab:400,700&subset=cyrillic,latin' rel='stylesheet' type='text/css'>

    <!-- Fancybox 3 -->
    <!-- http://fancyapps.com/fancybox/3/fancybox/jquery.fancybox.min.css?v=1497629081 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />

</head>

<body lang="ru" data-spy="scroll" data-target="#menu_main" data-offset="200">
