@charset "UTF-8";

#addresses {
    color: map-get($colors, "bs1");
    padding: 0;

    dl {

        dt {
            color: map-get($colors, "bs2");
            margin-top: 15px;
            /*opacity: 0;*/
            text-transform: uppercase;

            &:after {
                content: " р-н: ";
            }
        }

        dd {
            margin-left: 40px;

            .address {
                font-weight: 700;

                &:after {
                    content: ": ";
                }
            }

            .workingTime {

                ul {

                    hr {
                        margin: 5px 0 3px;
                        margin-left: 0;
                        width: 50px;
                    }

                    li {
                        font-style: italic;

                        &:after {
                            content: ";";
                        }

                        &:last-child {

                            &:after {
                                content: ".";
                            }
                        }

                        span {
                            text-transform: lowercase;
                            /*font-style: italic;*/

                            &:after {
                                content: ": ";
                            }
                        }
                    }
                }
            }
        }
    }
}
