@charset "UTF-8";

#addresses {
    color: map-get($colors, "bs1");
    padding: 0;

    /*&__tile {
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../img/addresses/tile_2016x378.jpg);
        @include size(100%, 378px);
    }*/

    dl {

        dt {
            color: map-get($colors, "bs2");
            border-bottom: 1px dotted #9a9a9a;
            border-left: 1px dotted #9a9a9a;
            /*color: map-get($colors, "bp3");*/
            margin-top: 30px;
            margin-bottom: 10px;
            padding: 5px 10px 3px 10px;
            /*opacity: 0;*/
            text-transform: uppercase;
        }

        dd {
            margin-left: 40px;

            .address {
                font-weight: 700;

                &:after {
                    content: ": ";
                }
            }

            .workingTime {

                ul {

                    li {
                        font-style: italic;

                        &:after {
                            content: ";";
                        }

                        &:last-child {

                            &:after {
                                content: ".";
                            }
                        }

                        span {
                            text-transform: lowercase;
                            /*font-style: italic;*/

                            &:after {
                                content: ": ";
                            }
                        }
                    }
                }
            }
        }
    }
}
