@charset "UTF-8";

#addresses {
    color: map-get($colors, "bs1");
    padding: 0;

    dl {

        dt {
            margin-top: 15px;
            /*opacity: 0;*/

            &:after {
                content: " р-н: ";
            }
        }

        dd {
            margin-left: 40px;

            .address {

                &:after {
                    content: ": ";
                }
            }

            .workingTime {

                ul {

                    li {
                        font-style: italic;

                        &:after {
                            content: ";";
                        }

                        &:last-child {

                            &:after {
                                content: ".";
                            }
                        }

                        span {
                            text-transform: lowercase;
                            /*font-style: italic;*/

                            &:after {
                                content: ": ";
                            }
                        }
                    }
                }
            }
        }
    }
}
