@charset "UTF-8";

#advantages {
    color: map-get($colors, "bs1"); /*TEMP*/

    .photos {
        overflow: hidden;
        margin: 30px auto;
    }

    &-carousel-photos {

    }

    .carousel {

        &-indicators {

        }

        &-inner {

            .item {

                a {
                    display: block;
                    margin: 0;

                    img {

                    }
                }
            }
        }

        &-control {
            padding-top: 10%;
            width: 5%;
        }
    }
}
