@charset "UTF-8";

/// @sectionName: -=[ krepysh-dollar ]=-.
/// @description: Блок krepysh-dollar.
#krepysh-dollar {
    background-color: map-get($colors, "bp3");
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 3px solid map-get($colors, "bp2");
}
