@charset "UTF-8";

#price {
    background-color: rgba(map-get($colors, "bp3"), 0.1);
    border-bottom: 3px solid #1db79c;
    border-top: 3px solid #1db79c;
    color: map-get($colors, "bs1");

    .table {

        hr {
            margin: 5px 0;
        }

        td {
            vertical-align: middle;
        }
    }

    .nonStriped {
        background-color: inherit;
    }

    .oldCurrency {
        &:before {
            content: " ( ";
        }
        &:after {
            content: " )";
        }

        color: map-get($colors, "bs3");
        font-size: 0.8em;
    }
}
