@charset "UTF-8";

#problems {
    /*background-image: url('../img/problems/bg_1.jpg');*/
    /*background-color: rgba(map-get($colors, "bp1"), 0.3);*/
    color: map-get($colors, "bp3");
    padding-bottom: 0;

    .blackout {
        /*background: rgba(map-get($colors, "bp1"), 0.3);*/
        background: none;
    }

    .title {
        /*color: map-get($colors, "bs1");*/
    }

    .lst_result {

        &-list {
            /*font-size: 1.2em;*/

            ul {

                li {

                    img, .icon-font {

                    }

                    .icon-font {
                        color: map-get($colors, "bp2");

                        &.fa-stack {

                        }
                    }

                    span, h3 {
                        color: map-get($colors, "bp2");
                    }
                }
            }
        }

        &-result {
            background-color: lighten(map-get($colors, "bp2"), 5%);
            color: map-get($colors, "b_w");

            h3 {
                /*color: map-get($colors, "bp2");*/
                color: darken(map-get($colors, "bp3"), 5%);
            }

            p {
                /*color: map-get($colors, "bs2");*/
            }
        }
    }
}
