@charset "UTF-8";

#problems {
    /*background-image: url('../img/problems/bg_1.jpg');*/
    /*background-color: rgba(map-get($colors, "bp1"), 0.3);*/
    color: map-get($colors, "bp3");

    .blackout {
        /*background: rgba(map-get($colors, "bp1"), 0.3);*/
        background: none;
    }

    .title {
        /*color: map-get($colors, "bs1");*/
    }

    .problems {
        &-list {
            font-size: 1.2em;

            ul {

                li {
                    opacity: 0;

                    img, .icon-font {

                    }

                    .icon-font {
                        color: map-get($colors, "bp2");

                        &.fa-stack {

                        }
                    }

                    span {
                        color: map-get($colors, "bp2");
                    }
                }
            }
        }

        &-result {
            background-color: rgba(map-get($colors, "bp2"), 0.5);
            color: map-get($colors, "b_w");
            font-size: 1.2em;
            line-height: 1.3em;
            margin-right: -15px;
            opacity: 0;
            padding: 20px;

            h3 {
                color: map-get($colors, "bp2");
                text-align: left;
            }

            p {
                color: map-get($colors, "bs2");
            }
        }
    }
}
