@charset "UTF-8";

#reviews {
    padding-top: 0;
}

#reviewsVK__getComments {
    width: 100% !important;
}

/* New. On The BEM Methodology css */
.reviewsVK {
    /*margin: 20px 0 0;*/

    &__count {

        &-whole {

        }
    }

    &__reviews {
        max-height: 300px;
        overflow-y: scroll;
        margin: 10px 30px 30px;
        padding-right: 30px;
    }

    /* --- */

    &__review {
        /*margin: 20px 0;*/
        padding: 20px 0;

        & + .reviewsVK__review {
            border-top: 1px solid;
        }
    }

    /* --- */

    &__owner {

    }

    &__visual {
        display: inline-block;
        padding-right: 20px;
        vertical-align: top;
        @include size(120px, 100px);
    }

    &__data {
        display: inline-block;
        width: calc(100% - 120px);
        vertical-align: top;
    }

    &__photo {
        border-radius: 50%;
        vertical-align: middle;

        &_50 {

        }

        &_100 {
            @include size(100px);
        }
    }

    &__username {
        line-height: 1.2em;
        margin: 0 0 15px;
    }

    &__name {

        &_first {

        }

        &_last {

        }
    }

    &__teaser {
        color: map-get($colors, "bp1");

        &:before {
            content: "«";
        }

        &:after {
            content: "»";
        }
    }

    &__date {
        color: #fff;
        font-size: 14px;
        line-height: 1.2em;
    }

    &__text {
        margin-top: 10px;
    }

    /* --- */

    &__attachments {
        margin-top: 10px;

        &-photos {
            /*margin: 0 auto;*/
            max-width: 300px;

            .thumbnail {
                height: 56px;
                margin: 0 2px; /* -1px 1px */
                overflow: hidden;
                padding: 0;
                width: 56px;
            }
        }

        &-photo {
            min-height: 56px;
            min-width: 56px;
        }
    }

    /* --- */

    &__getComments {
        width: 100% !important;
    }
}
