@charset "UTF-8";

#reviews {
    padding-top: 0;
}

#reviewsVK__getComments {
    width: 100% !important;
}

/* New. On The BEM Methodology css */
.reviewsVK {
    /*margin: 20px 0 0;*/

    &__count {

        &-whole {

        }
    }

    &__reviews {
        max-height: 300px;
        overflow-y: scroll;
        margin: 10px 30px 30px;
        padding-right: 30px;
    }

    /* --- */

    &__review {
        /*margin: 20px 0;*/
        padding: 20px 0;

        & + .reviewsVK__review {
            border-top: 1px solid;
        }
    }

    /* --- */

    &__owner {

    }

    &__visual {
        display: inline-block;
        padding-right: 20px;
        vertical-align: top;
        @include size(120px, 100px);

        /// @name: -=[ breakpoint ]=-;
        /// @description: функция-помошник работы с медиа запросами (breakpoints);
        /// @prop: xs, sm, md, lg (bootstrap);
        /// @prop: ($maxWidth: x, $minWidth: x, $maxHeight: x, $minHeight: x), где x - число с "px";
        @include breakpoint(xs) {
            display: block;
            text-align: center;
            width: 100%;
        }
    }

    &__data {
        display: inline-block;
        width: calc(100% - 120px);
        vertical-align: top;

        /// @name: -=[ breakpoint ]=-;
        /// @description: функция-помошник работы с медиа запросами (breakpoints);
        /// @prop: xs, sm, md, lg (bootstrap);
        /// @prop: ($maxWidth: x, $minWidth: x, $maxHeight: x, $minHeight: x), где x - число с "px";
        @include breakpoint(xs) {
            display: block;
            text-align: center;
            width: 100%;
        }
    }

    &__photo {
        background-image: url(../img/reviews/avatars_100.jpg);
        background-position: 0 center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        vertical-align: middle;
        @include transition();

        &_50 {

        }

        &_100 {
            @include size(100px);
        }

        /* --- */

        /// @varName: -=[ reviews-text__count ]=-.
        /// @description: кол-во текствовых отзывов.
        $reviews-text__count: 30;

        /// @varName: -=[ reviews-text__ava-sprite-length ]=-.
        /// @description: размер одного элемента спрайта.
        $reviews-text__ava-sprite-length: 100px;

        &_1 {
            background-image: url(https://pp.userapi.com/c837331/v837331613/23d4/vq9FaKBfVCs.jpg);
            background-position-x: center;
        }
        &_2 {
            background-image: url(https://pp.userapi.com/c604425/v604425283/3d303/i2FtWJs1p-U.jpg);
            background-position-x: center;
        }

        /* reviewsVK__photo_n */
        @for $i from 3 through $reviews-text__count {
            &_#{$i} {
                $length: -$reviews-text__ava-sprite-length * $i;
                background-position-x: $length;
            }
        }
    }

    &__username {
        line-height: 1.2em;
        margin: 0 0 15px;

        /// @name: -=[ breakpoint ]=-;
        /// @description: функция-помошник работы с медиа запросами (breakpoints);
        /// @prop: xs, sm, md, lg (bootstrap);
        /// @prop: ($maxWidth: x, $minWidth: x, $maxHeight: x, $minHeight: x), где x - число с "px";
        @include breakpoint(xs) {
            margin-top: 10px;
        }
    }

    &__name {

        &_first {

        }

        &_last {

        }
    }

    &__teaser {
        color: map-get($colors, "bp1");

        &:before {
            content: "«";
        }

        &:after {
            content: "»";
        }
    }

    &__date {
        color: #fff;
        font-size: 14px;
        line-height: 1.2em;
    }

    &__text {
        margin-top: 10px;
    }

    /* --- */

    &__attachments {
        margin-top: 10px;

        &-photos {
            /*margin: 0 auto;*/
            max-width: 300px;

            .thumbnail {
                height: 56px;
                margin: 0 2px; /* -1px 1px */
                overflow: hidden;
                padding: 0;
                width: 56px;
            }
        }

        &-photo {
            min-height: 56px;
            min-width: 56px;
        }
    }

    /* --- */

    &__getComments {
        width: 100% !important;
    }
}
