@charset "UTF-8";

#solution {
    color: map-get($colors, "bs1"); /*TEMP*/

    .solutions {
        color: map-get($colors, "bp3");
        font-size: 1.6em;
        line-height: 1.2em;
        margin: 2em 0;
        text-align: center;

        .solution {

        }
    }

    .solution-result {
        font-size: 1.6em;
        line-height: 1.2em;

        h4 {

        }

        p {
           margin: 0;
        }
    }
}
