@charset "UTF-8";
/// @BemEntryName: -=[ lava ]=-.
/// @description: lava.

#menu_main {
    background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
    background: -webkit-gradient(linear, left center, right center, from(red), color-stop(14%, orange), color-stop(28%, yellow), color-stop(42%, green), color-stop(56%, blue), color-stop(70%, indigo), to(violet));
    text-align: center;
    width: 100%;
}

.lava {
    padding: 10px 0;
    /*width: 100%;*/
    transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */


    &__elem {
        transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
        transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */

        &.active {

            .lava__link {
                background-color: rgba(0, 0, 217, 0.8) !important;
                box-shadow: 0 0 10px 15px rgba(0, 0, 217, 0.8);
                color: map-get($colors, "bp1") !important;
                padding: 5px 25px !important;
                margin: 0 20px;
                transform: scale(1.1);
            }
        }

        &_1 {}
        &_2 {}
        &_3 {}
        &_4 {}
        &_5 {}
        &_6 {}
    }
    &__link {
        color: white !important;
        padding: 5px 15px !important;
        transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
        transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */

        &_1 {}
        &_2 {}
        &_3 {}
        &_4 {}
        &_5 {}
        &_6 {}
    }
}
