@charset "UTF-8";
/// @BemEntryName: -=[ lava ]=-.
/// @description: lava.

#menu_main {
    /*background: -moz-linear-gradient(left, #c34e4e, #d09d40, #e2e23c, #3a933a, #4040b9, #613680, #d187d1);
    background: -webkit-gradient(linear, left center, right center, from(#c34e4e), color-stop(14%, #d09d40), color-stop(28%, #e2e23c), color-stop(42%, #3a933a), color-stop(56%, #4040b9), color-stop(70%, #613680), to(#d187d1));*/
    text-align: center;
    width: 100%;
}

.lava {
    padding: 10px 0;
    /*width: 100%;*/
    transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */


    &__elem {
        transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
        transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */

        &.active {

            .lava__link {
                background-color: #3E6088 !important;
                opacity: 1;
                /*box-shadow: 0 0 10px 15px #3E6088;*/
                box-shadow: 0 3px 6px 12px #5052cc;
                color: map-get($colors, "bp1") !important;
                font-size: 16px;
                font-weight: 700;
                padding: 5px 20px !important;
                margin: 0 15px;
                transform: scale(1.1);

                &_1 {
                    background-color: #CC8345 !important;
                    box-shadow: 0 3px 6px 12px #CC8345;
                    color: #fff !important;
                }
                &_2 {
                    background-color: #DED23D !important;
                    box-shadow: 0 3px 6px 12px #DED23D;
                    color: #ffffff !important;
                }
                &_3 {
                    background-color: #61A53B !important;
                    box-shadow: 0 3px 6px 12px #61A53B;
                    color: #ffffff !important;
                }
                &_4 {
                    background-color: #3D6581 !important;
                    box-shadow: 0 3px 6px 12px #3D6581;
                    color: #ffffff !important;
                    /*color: map-get($colors, "bp1") !important;*/
                }
                &_5 {
                    background-color: #453FB0 !important;
                    box-shadow: 0 3px 6px 12px #453FB0;
                    color: #ffffff !important
                }
                &_6 {
                    background-color: #5E3785 !important;
                    box-shadow: 0 3px 6px 12px #5E3785;
                    color: #ffffff !important;
                }
                &_7 {
                    background-color: #8D56A0 !important;
                    box-shadow: 0 3px 6px 12px #8D56A0;
                    color: #ffffff !important;
                }
                &_8 {
                    background-color: #B875BF !important;
                    box-shadow: 0 3px 6px 12px #B875BF;
                    color: #ffffff !important;
                }
            }
        }

        &_1 {}
        &_2 {}
        &_3 {}
        &_4 {}
        &_5 {}
        &_6 {}
    }
    &__link {

        opacity: 0.8;
        font-size: 14px;
        padding: 5px 15px !important;
        transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
        transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */

        &_1 {}
        &_2 {}
        &_3 {}
        &_4 {}
        &_5 {}
        &_6 {}
    }
}
