<div class="form-order" role="form">
    <form action="mail.php" class="order built-in-formOrder" method="post">

        <!--
        -- .has-feedback
        --
        -- .has-success
        -- .has-warning
        -- .has-error

        -- glyphicon-ok
        -- glyphicon-remove
        -->

        <div class="form-group form-group-main has-feedback">
            <label class="control-label sr-only" for="bsPhone">Введите номер телефона</label>
            <input type="tel" class="validating form-control form-control-main form-control_new bsPhone" name="bsPhone" placeholder="Введите номер телефона" aria-describedby="bsPhoneStatus" required="required" />
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

            <button type="submit" class="btn btn-primary1 btn-primary1_new submit" role="button">Оставить заявку</button>
        </div>
    </form>
</div>
