@charset "UTF-8";

/// @BemEntryName: -=[ lst_result ]=-.
/// @description: оформления списка преимуществ.
.lst_result {

    &-list {

        ul {
            padding: 0;

            li {

                .icon-font {
                    color: map-get($colors, "bp3");
                }

                span, h3 {
                    color: map-get($colors, "bp3");
                }
            }
        }
    }

    &-result {
        background-color: lighten(map-get($colors, "bp3"), 5%);
        box-shadow: 5px 5px 5px rgba(map-get($colors, "bs3"), 0.4);
        color: map-get($colors, "b_w");
        font-size: 1.2em;
        line-height: 1.3em;
        /*margin-right: -15px;*/
        /*opacity: 0;*/
        margin-bottom: 30px;
        padding: 30px;
        transition: all .3s ease;

        &:hover {
            box-shadow: 5px 5px 3px rgba(map-get($colors, "bs3"), 0.6);
        }

        h3 {
            /*color: map-get($colors, "bp3");*/
            /*color: lighten(map-get($colors, "bp3"), 20%);*/
            color: lighten(map-get($colors, "bp2"), 20%);
            font-weight: 700;
            margin-top: 0;
            text-align: left;
            text-transform: uppercase;
        }

        p {
            /*color: map-get($colors, "bs2");*/
            /*color: lighten(map-get($colors, "bp2"), 30%);*/
            font-size: 1.2em;
            font-weight: 700;
        }
    }
}
