<section id="addresses" class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        <span>Адреса </span>
                        школ
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <dl>
                    <dt>Заводской</dt>
                        <dd>
                            <div class="address">
                                ул. Ванеева, 1
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Суббота</span>15.00-16.00, 16.00-17.00
                                    </li>
                                    <li>
                                        <span>Воскресенье</span>10.00-11.00, 11.00-12.00
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Герасименко, 10, сш №162
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Вторник</span>18.00-18.45, 18.45-19.30
                                    </li>
                                    <li>
                                        <span>Четверг</span>18.00-18.45, 18.45-19.30
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Илимская, 15
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Понедельник</span>18.00-19.00, 19.00-20.00
                                    </li>
                                    <li>
                                        <span>Среда</span>18.00-19.00, 19.00-20.00
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Уборевича, 124А, сш №46
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Понедельник</span>18.00-18.45, 18.45-19.30
                                    </li>
                                    <li>
                                        <span>Четверг</span>18.00-18.45, 18.45-19.30
                                    </li>
                                </ul>
                            </div>
                        </dd>
                    <dt>Московский</dt>
                        <dd>
                            <div class="address">
                                ул. Слободская, 169, сш №161
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Вторник</span>18.00-18.45, 18.45-19.30, 19.30-20.15
                                    </li>
                                    <li>
                                        <span>Пятница</span>18.00-18.45, 18.45-19.30, 19.30-20.15
                                    </li>
                                </ul>
                            </div>
                        </dd>
                    <dt>Октябрьский</dt>
                        <dd>
                            <div class="address">
                                ул. Асаналиева, 16, сш №62
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Вторник</span>18.00-18.45, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Четверг</span>18.00-18.45, 18.45-20.15
                                    </li>
                                </ul>
                            </div>
                        </dd>
                    <dt>Партизанский</dt>
                        <dd>
                            <div class="address">
                                ул. Радиальная, 36, зал борьбы
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Суббота</span>16.00-17.00, 17.00-18.00
                                    </li>
                                    <li>
                                        <span>Воскресенье</span>11.00-12.00, 12.00-13.00
                                    </li>
                                </ul>
                            </div>
                        </dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <dl>
                    <dt>Первомайский</dt>
                        <dd>
                            <div class="address">
                                ул. Калиновского, 55
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Суббота</span>16.00-17.00, 17.00-18.00
                                    </li>
                                    <li>
                                        <span>Воскресенье</span>11.00-12.00, 12.00-13.00
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Козлова, 17А
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Суббота</span>11.00-12.00, 12.00-13.00
                                    </li>
                                    <li>
                                        <span>Воскресенье</span>16.00-17.00, 17.00-18.00
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Седых, 10, гимназия №9
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Вторник</span>18:00-19:30
                                    </li>
                                    <li>
                                        <span>Четверг</span>18:00-19:30
                                    </li>
                                </ul>
                            </div>
                        </dd>
                    <dt>Советский</dt>
                        <dd>
                            <div class="address">
                                ул. Богдановича, 68А
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>понедельник</span>17.30-19.00, 19.00-20.00
                                    </li>
                                    <li>
                                        <span>среда</span>17.3019.00, 19.00-20.00
                                    </li>
                                    <hr />
                                    <li>
                                        <span>Вторник</span>17.30-19.00, 19.00-20.00
                                    </li>
                                    <li>
                                        <span>четверг</span>17.30-19.00, 19.00-20.00
                                    </li>
                                </ul>
                            </div>
                        </dd>
                    <dt>Фрунзенский</dt>
                        <dd>
                            <div class="address">
                                ул. Чайлытко, 8
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Понедельник</span>17.30-19.00, 19.00-20.00
                                    </li>
                                    <li>
                                        <span>Среда</span>17.30-19.00, 19.00-20.00
                                    </li>
                                    <hr />
                                    <li>
                                        <span>Вторник</span>17.30-19.00, 19.00-20.00
                                    </li>
                                    <li>
                                        <span>Четверг</span>17.30-19.00, 19.00-20.00
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Шаранговича, 68
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Понедельник</span>18.00-20.00
                                    </li>
                                    <li>
                                        <span>Среда</span>18.00-20.00
                                    </li>
                                </ul>
                            </div>
                        </dd>
                    <dt>Центральный</dt>
                        <dd>
                            <div class="address">
                                пр. Победителей, 109А
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Суббота</span>16.00-17.00, 17.00-18.00
                                    </li>
                                    <li>
                                        <span>Воскресенье</span>11.00-12.00, 12.00-13.00
                                    </li>
                                </ul>
                            </div>
                        </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="map map-y" id="yMap">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=9z5AVEb4vNtxVCjxmjZiM2u_YRbneKxM&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=false"></script>
        <!--<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=9z5AVEb4vNtxVCjxmjZiM2u_YRbneKxM&width=100%&height=100%&lang=ru_RU&sourceType=constructor&scroll=false"></script>-->
    </div>
</section>
