<section id="addresses" class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        <span class="title-big">Адрес </span>
                        и расписание
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img src="assets/img/addresses/tile_2016x378.jpg" class="img-responsive" alt="пр-т Советский, 20 (Ледовый дворец)" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <dl>
                    <dt>г. Барановичи, пр-т Советский, 20 (Ледовый дворец)</dt>
                    <dd>
                        <div class="address">
                            Расписание занятий
                        </div>
                        <div class="workingTime">
                            <ul>
                                <li>
                                    <span>Суббота</span>15.30-16.30, 16.30-17.15, 17.15-18.00
                                </li>
                                <li>
                                    <span>Воскресенье</span>15.30-16.30, 16.30-17.15, 17.15-18.00
                                </li>
                                <li class="li-delimiter"></li>
                                <li>
                                    <span>Вторник</span>18.30-19.15, 19.15-20.00
                                </li>
                                <li>
                                    <span>Четверг</span>18.30-19.15, 19.15-20.00
                                </li>
                            </ul>
                        </div>
                    </dd>
                </dl>

            </div>
        </div>
    </div>

</section>
