<section id="addresses" class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        <span class="title-big">Адреса </span>
                        школ
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="map map-y" id="yMap">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2b43c9fba7f9744088af4a4c67247cfbb3fc61113e25d5f575b7aebfb731eac4&amp;width=100%25&amp;height=100%&&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <dl>
                    <dt>Заводской</dt>
                        <dd>
                            <div class="address">
                                ул. Ванеева, 1. Стадион Трактор
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Суббота</span>11.00-12.30, 12.40-13.30
                                    </li>
                                    <li>
                                        <span>Воскресенье</span>16.00-17.25, 17.40-18.30
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Герасименко, 10. СШ №162
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Вторник</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Четверг</span>18.00-18.40, 18.45-20.15
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Илимская, 15. Детсад №459
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Понедельник</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Среда</span>18.00-18.40, 18.45-20.15
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Уборевича, 124a. СШ №46
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Понедельник</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Четверг</span>18.00-18.40, 18.45-20.15
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Народная, 51. СШ №18
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Вторник</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Пятница</span>18.00-18.40, 18.45-20.15
                                    </li>
                                </ul>
                            </div>
                        </dd>

                    <dt>Ленинский</dt>
                        <dd>
                            <div class="address">
                                ул. Маяковского, 129. ДК Лошицкий
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Вторник</span>18.00-18.45, 18.50-20.35
                                    </li>
                                    <li>
                                        <span>Четверг</span>18.00-18.45, 18.50-20.35
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Плеханова, 107. СШ №134
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Вторник</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Четверг</span>18.00-18.40, 18.45-20.15
                                    </li>
                                </ul>
                            </div>
                        </dd>

                    <dt>Московский</dt>
                        <dd>
                            <div class="address">
                                ул. Слободская, 169. СШ №161
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Понедельник</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Среда</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li class="li-delimiter"></li>
                                    <li>
                                        <span>Вторник</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Четверг</span>18.00-18.40, 18.45-20.15
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Рафиева, 7. СШ №170
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Вторник</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Четверг</span>18.00-18.40, 18.45-20.15
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Рафиева, 19. СШ №160
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Понедельник</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Среда</span>18.00-18.40, 18.45-20.15
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                пр-т Газеты Звязда, 6. СШ №165
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Вторник</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Суббота</span>16.00-16.45, 16.45-18.15
                                    </li>
                                </ul>
                            </div>
                        </dd>

                    <dt>Октябрьский</dt>
                        <dd>
                            <div class="address">
                                ул. Асаналиева, 16. СШ №62
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Вторник</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Четверг</span>18.00-18.40, 18.45-20.15
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Ландера, 120. СШ №119
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Вторник</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Четверг</span>18.00-18.40, 18.45-20.15
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Воронянского, 11/2. Гимназия №56
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Понедельник</span>18.00-18.40, 18.45-20.30
                                    </li>
                                    <li>
                                        <span>Суббота</span>16.00-16.40, 16.45-18.30
                                    </li>
                                </ul>
                            </div>
                        </dd>

                    <dt>Партизанский</dt>
                        <dd>
                            <div class="address">
                                ул. Радиальная, 36. Центр Единоборств
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Суббота</span>16.00-16.45, 17.00-18.00
                                    </li>
                                    <li>
                                        <span>Воскресенье</span>11.00-11.45, 12.00-13.00
                                    </li>
                                </ul>
                            </div>
                        </dd>

                </dl>
            </div>
            <div class="col-sm-6">
                <dl>
                    <dt>Первомайский</dt>
                        <dd>
                            <div class="address">
                                ул. Калиновского, 55. Зал Борьбы
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Суббота</span>17.00-17.40, 17.45-19.30
                                    </li>
                                    <li>
                                        <span>Воскресенье</span>11.00-11.40, 11.45-13.30
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Козлова, 17a. Бассейн Лазурный
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Суббота</span>10.30-11.15, 11.20-13.00
                                    </li>
                                    <li>
                                        <span>Воскресенье</span>16.30-17.15, 17.20-19.00
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Седых, 66. ФОК Ампласт
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Понедельник</span>10.30-11.30
                                    </li>
                                    <li>
                                        <span>Среда</span>10.30-11.30
                                    </li>
                                    <li>
                                        <span>Вторник</span>10.30-11.30
                                    </li>
                                    <li>
                                        <span>Четверг</span>10.30-11.30
                                    </li>
                                    <li class="li-delimiter"></li>
                                    <li>
                                        <span>Понедельник</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Среда</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li class="li-delimiter"></li>
                                    <li>
                                        <span>Вторник</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Четверг</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li class="li-delimiter"></li>
                                    <li>
                                        <span>Суббота</span>11.00-11.45, 11.50-13.30
                                    </li>
                                    <li>
                                        <span>Воскресенье</span>11.00-11.45, 11.50-13.30
                                    </li>
                                </ul>
                            </div>
                        </dd>

                    <dt>Советский</dt>
                        <dd>
                            <div class="address">
                                ул. Богдановича, 68a. Детсад №314
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>понедельник</span>17.30-18.50, 18.50-20.15
                                    </li>
                                    <li>
                                        <span>среда</span>17.30-18.50, 18.50-20.15
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Широкая, 14. Детсад №71
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>понедельник</span>17.30-20.15
                                    </li>
                                    <li>
                                        <span>среда</span>17.30-20.15
                                    </li>
                                </ul>
                            </div>
                        </dd>

                    <dt>Фрунзенский</dt>
                        <dd>
                            <div class="address">
                                ул. Петра Глебки, 116. СШ №150
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Понедельник</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Пятница</span>18.00-18.40, 18.45-20.15
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                пр-т Пушкина, 12. СШ №96
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Среда</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Суббота</span>17.00-17.40, 17.45-19.15
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Мазурова, 6. Гимназия №31
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Понедельник</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Среда</span>18.00-18.40, 18.45-20.15
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Якубовского, 46, СШ 167
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Вторник</span>18.00-18.40, 18.45-20.15
                                    </li>
                                    <li>
                                        <span>Четверг</span>18.00-18.40, 18.45-20.15
                                    </li>
                                </ul>
                            </div>
                        </dd>

                    <dt>Центральный</dt>
                        <dd>
                            <div class="address">
                                пр-т Победителей, 109a. БГУФК
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Суббота</span>15.40-16.25, 16.30-18.00
                                    </li>
                                    <li>
                                        <span>Воскресенье</span>11.00-11.40, 11.45-13.20
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <dd>
                            <div class="address">
                                ул. Сапёров, 5. ФОК Атлант
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Суббота</span>16:00-16:45, 16:45-18:30
                                    </li>
                                    <li>
                                        <span>Воскресенье</span>16:00-16:45, 16:45-18:30
                                    </li>
                                </ul>
                            </div>
                        </dd>

                    <dt>Наши партнёры&nbsp;&mdash; &laquo;Мир Гимнастики&raquo; <br> Заводской</dt>
                        <dd>
                            <div class="address">
                                ул. Ванеева, 1
                            </div>
                            <div class="workingTime">
                                <ul>
                                    <li>
                                        <span>Понедельник</span>17.45-20.30 (только мальчики)
                                    </li>
                                    <li>
                                        <span>Четверг</span>17.45-20.30 (только мальчики)
                                    </li>
                                    <li class="li-delimiter"></li>
                                    <li>
                                        <span>Суббота</span>11.30-13.00, 15.00-19.00
                                    </li>
                                    <li>
                                        <span>Воскресенье</span>10.00-13.00, 15.00-19.00
                                    </li>
                                </ul>
                            </div>
                        </dd>
                </dl>
            </div>
        </div>
    </div>

</section>
