<section id="advantages" class="lst-result bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        <span class="title-big">Почему&nbsp;57% детей </span>
                        пришли в&nbsp;нашу школу по&nbsp;рекомендации <br />
                        от&nbsp;других учащихся в&nbsp;нашем центре
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="advantages-list lst_result-list">
                    <ul class="list-primary">
                        <li>
                            <h3>
                                <a href="#coaches" class="scrollTo heading-link">
                                    <i class="fa fa-trophy icon-font" aria-hidden="true"></i> Сильный тренерский состав
                                </a>
                            </h3>
                            <p>
                                Помимо того, что наши специалисты обладают высшим образованием в&nbsp;области спорта, они так&nbsp;же являются мастерами спорта по&nbsp;гимнастике или акробатике.
                            </p>
                        </li>
                        <li>
                            <h3>
                                <a href="#price" class="scrollTo heading-link">
                                    <i class="fa fa-thumbs-o-up icon-font" aria-hidden="true"></i> Честная цена
                                </a>
                            </h3>
                            <p>
                                Вы&nbsp;можете быть уверены, что заявленная стоимость занятий будет не&nbsp;только &laquo;заморожена&raquo; на&nbsp;весь учебный сезон и&nbsp;останется неизменной вплоть до&nbsp;последнего занятия в&nbsp;сезоне 2017-2018&nbsp;года, но&nbsp;так&nbsp;же мы&nbsp;сделаем перерасчет в&nbsp;случае, если ребенок отсутствовал по&nbsp;болезни.
                            </p>
                        </li>
                        <li>
                            <h3><i class="fa fa-universal-access icon-font" aria-hidden="true"></i> Интенсивные тренировки</h3>
                            <p>
                                Так как в&nbsp;группе в&nbsp;среднем занимается 8-9 детей на&nbsp;тренировке&nbsp;&mdash; занятия проходят интенсивно и&nbsp;ребенок увлечен самой тренировкой.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="advantages-result lst_result-result" id="advantages-result">
                    <h3><!--<img src="assets/img/advantages/icons/6.png" alt=""/> -->Ваш ребенок:</h3>
                    <p>
                        укрепляет иммунитет, приобретает ровную осанку и гибкость, друзей по спорту, а так же учится у тренера-чемпиона по гимнастике, по самой низкой цене в Минске, в 15 минутах ходьбы от дома.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
