<section id="advantages" class="lst-result bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        <span class="title-big">Почему 73 ребенка </span>
                        пришли в нашу школу по рекомендации <br />
                        от тех, кто уже тренируется
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="advantages-list lst_result-list">
                    <ul class="list-primary">
                        <li>
                            <h3>
                                <a href="#coaches" class="scrollTo heading-link">
                                    <i class="fa fa-trophy icon-font" aria-hidden="true"></i> Настоящие тренеры.
                                </a>
                            </h3>
                            <p>
                                Помимо документов, подтверждающих квалификацию «тренер по гимнастике/акробатике» и гимнастическом образовании, наши тренеры являются участниками чемпионата Мира, Европы, многократные победили международных и республиканских соревнований, мастера спорта, действующие члены национальной команды РБ по спортивной гимнастике и акробатике.
                            </p>
                        </li>
                        <li>
                            <h3><i class="fa fa-balance-scale icon-font" aria-hidden="true"></i> Сбалансированные группы.</h3>
                            <p>
                                В одной группе учится от 8 до 14 детей, что является основным фактором соблюдения дисциплины. Чем меньше детей в группе, тем лучше отрабатывается техника исполнения элементов.
                            </p>
                        </li>
                        <li>
                            <h3><!--<i class="glyphicon glyphicon-piggy-bank icon-font"></i>-->
                                <a href="#price" class="scrollTo heading-link">
                                    <i class="fa fa-thumbs-o-up icon-font" aria-hidden="true"></i> Честная цена.
                                </a>
                            </h3>
                            <p>
                                Помимо самой низкой цены на абонементы в городе, которую мы публикуем перед стартом сезона, она остаётся неизменной вплоть до последнего занятия сезона. Так же, если ваш ребенок заболел, мы делаем перерасчет абонемента.
                            </p>
                        </li>
                        <li>
                            <h3>
                                <a href="#addresses" class="scrollTo heading-link">
                                    <i class="fa fa-map-marker icon-font" aria-hidden="true"></i> Удобное расположение центров.
                                </a>
                            </h3>
                            <p>
                                В сезоне 2015/2016 у нас было всего 5 центров. В сезоне 2016/2017 мы находились уже в 14 залах. В сезоне 2017/2018 мы находимся в 18 центрах по городу Минску. Мы рядом с Вашим домом.
                            </p>
                        </li>
                        <li>
                            <h3><!--<i class="fa fa-child icon-font" aria-hidden="true"></i>--><i class="fa fa-universal-access icon-font" aria-hidden="true"></i> Подвижные тренировки.</h3>
                            <p>
                                Так как в одной группе от 8 до 14 детей, тренировки проходят без остановок и пауз. Детям комфортно и они полностью увлечены процессом тренировки.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="advantages-result lst_result-result" id="advantages-result">
                    <h3><!--<img src="assets/img/advantages/icons/6.png" alt=""/> -->Ваш ребенок:</h3>
                    <p>
                        укрепляет иммунитет, приобретает ровную осанку и гибкость, друзей по спорту, а так же учится у тренера-чемпиона по гимнастике, по самой низкой цене в Минске, в 15 минутах ходьбы от дома.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
