<section id="coaches" class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        <span class="title-big">Тренеры </span>
                        отвечающие за результат <br />
                        вашего ребенка
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="tmm-row tmm-row-main">
                    <div class="item-square-3 item-square-3-main">
                        <div class="face-container">
                            <div class="face"><img src="assets/img/coaches/kuzmin-a.jpg" alt="Кузьмин Артур Петрович"></div>
                            <ul class="social-icons">
                                <li>
                                    <a href="assets/img/coaches/kuzmin-a/docs/1.jpg" title="" class="btn btn-primary3 fancybox" rel="gall-kuzmin">
                                        Документы и награды
                                    </a>
                                    <a href="assets/img/coaches/kuzmin-a/honors/1.jpg" title="" class="btn btn-primary3 fancybox hidden" rel="gall-kuzmin">
                                        Документы и награды
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="item-content">
                            <h4>Кузьмин Артур Петрович</h4>
                            <div class="text">
                                <p>Мастер спорта по спортивной гимнастике. Член национальной команды РБ по спортивной гимнастике с 2005 по 2012г. Участник Чемпионата Мира 2010,2011г, Чемпионата Европы 2011г. Победитель чемпионата РБ 2009 и 2010г, победитель и призер международных соревнований. </p>
                            </div>
                        </div>
                    </div>
                    <div class="item-square-3">
                        <div class="face-container">
                            <div class="face"><img src="assets/img/coaches/doronin-a.jpg" alt="Доронин Александр"></div>
                            <ul class="social-icons">
                                <li>
                                    <a href="assets/img/coaches/doronin-a/docs/1.jpg" title="" class="btn btn-primary3 fancybox" rel="gall-doronin">
                                        Документы и награды
                                    </a>
                                    <a href="assets/img/coaches/doronin-a/honors/1.jpg" title="" class="btn btn-primary3 fancybox hidden" rel="gall-doronin">
                                        Документы и награды
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="item-content">
                            <h4>Доронин Александр Александрович</h4>
                            <div class="text">
                                <p>Мастер спорта по спортивной гимнастике. Член национальной команды РБ по спортивной гимнастике. Участник Чемпионата Мира 2015. Победитель и призер международных и национальных первенств. </p>
                            </div>
                        </div>
                    </div>
                    <div class="item-square-3">
                        <div class="face-container">
                            <div class="face"><img src="assets/img/coaches/mickulich-s.jpg" alt="Микулич Сергей"></div>
                            <ul class="social-icons">
                                <li>
                                    <a href="assets/img/coaches/mikulich-s/docs/1.jpg" title="" class="btn btn-primary3 fancybox" rel="gall-mikulich">
                                        Документы и награды
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="item-content">
                            <h4>Микулич Сергей Михайлович</h4>
                            <div class="text">
                                <p>Чемпион Республики Беларусь по спортивной акробатике. Неоднократный победитель и призер международных соревнований. Финалист чемпиона Европы по спортивной акробатике 2007 (Нидерланды). </p>
                            </div>
                        </div>
                    </div>
                    <div class="item-square-3">
                        <div class="face-container">
                            <div class="face"><img src="assets/img/coaches/ignatovich_a.jpg" alt="Игнатович Алексей Александрович"></div>
                            <ul class="social-icons">
                                <li>
                                    <a href="assets/img/coaches/ignatovich_a/docs/1.jpg" title="" class="btn btn-primary3 fancybox" rel="gall-ignatovich">
                                        Документы и награды
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="item-content">
                            <h4>Игнатович Алексей Александрович</h4>
                            <div class="text">
                                <p>Чемпион Европы 2002г в упражнении на коне, чемпион Универсиады 2003г Конь- махи, участник Чемпионата Европы 2004г, 2 место Всемирная Универсиада 2005г. Чемпионат Мира 2005г 4 место конь-махи. Участник Олимпийских игр 2008г. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="text-center whichService" data-nameForm="секция тренеров" data-btnIDsubmit="coaches-main-btn">
                    <h3>Записаться на пробное занятие к тренерам-чемпионам</h3>
                    <!--<button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#modalOrder" data-service="[Тренера] - Записаться на пробное заняти к тренерам чемпионам." role="button" id="coaches-main-button">Оставить заявку</button>-->

                    //= ../../modules/forms/built-in-formOrder.html
                </div>
            </div>
        </div>
    </div>
</section>
