<section id="coaches" class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        <span>Тренера </span>
                        отвечающие за результат <br />
                        вашего ребенка
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="tmm-row tmm-row-main">
                    <div class="item-square-3">
                        <div class="face-container">
                            <div class="face"><img src="assets/img/coaches/kuzmin-a.jpg" alt="Кузьмин Артур Петрович"></div>
                            <ul class="social-icons">
                                <!--<li><a href=""><i class="glyphicon glyphicon-heart-empty"></i></a></li>
                                <li><a href=""><i class="glyphicon glyphicon-paperclip"></i></a></li>
                                <li><a href=""><i class="glyphicon glyphicon-link"></i></a></li>-->
                                <li>
                                    <a href="assets/img/coaches/docs/kuzmin-a/1.jpg" title="" class="btn btn-primary3 fancybox" rel="gall-doc-kuzmin">
                                        Документы и награды
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="item-content">
                            <h4>Кузьмин Артур Петрович</h4>
                            <div class="text">
                                <p>Мастер спорта по спортивной гимнастике. Член национальной команды РБ по спортивной гимнастике с 2005 по 2012г. Участник Чемпионата Мира 2010,2011г, Чемпионата Европы 2011г. Победитель чемпионата РБ 2009 и 2010г, победитель и призер международных соревнований</p>
                            </div>
                        </div>
                    </div>
                    <!--<div class="item-square-3">
                        <div class="face-container">
                            <div class="face"><img src="https://0.s3.envato.com/files/103847021/images/page_2/22.jpg" alt=""></div>
                            <ul class="social-icons">
                                <li><a href=""><i class="glyphicon glyphicon-heart-empty"></i></a></li>
                                <li><a href=""><i class="glyphicon glyphicon-paperclip"></i></a></li>
                                <li><a href=""><i class="glyphicon glyphicon-link"></i></a></li>
                            </ul>
                        </div>
                        <div class="item-content">
                            <h4>Jane</h4>
                            <div class="text">
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec </p>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="col-md-9">
                <div class="gallery">
                    <div class="row gallery-row">
                        <div class="col-xs-4">
                            <a href="assets/img/coaches/gallery/1.jpg" title="" class="fancybox gallery-item" rel="gall-coaches">
                                <img src="assets/img/coaches/gallery/mini/1.jpg" alt="" class="img-responsive black_white">
                                <div class="blackout"></div>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="assets/img/coaches/gallery/2.jpg" title="" class="fancybox gallery-item" rel="gall-coaches">
                                <img src="assets/img/coaches/gallery/mini/2.jpg" alt="" class="img-responsive black_white">
                                <div class="blackout"></div>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="assets/img/coaches/gallery/3.jpg" title="" class="fancybox gallery-item" rel="gall-coaches">
                                <img src="assets/img/coaches/gallery/mini/3.jpg" alt="" class="img-responsive black_white">
                                <div class="blackout"></div>
                            </a>
                        </div>
                    </div>
                    <div class="row gallery-row">
                        <div class="col-xs-4">
                            <a href="assets/img/coaches/gallery/4.jpg" title="" class="fancybox gallery-item" rel="gall-coaches">
                                <img src="assets/img/coaches/gallery/mini/4.jpg" alt="" class="img-responsive black_white">
                                <div class="blackout"></div>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="assets/img/coaches/gallery/5.jpg" title="" class="fancybox gallery-item" rel="gall-coaches">
                                <img src="assets/img/coaches/gallery/mini/5.jpg" alt="" class="img-responsive black_white">
                                <div class="blackout"></div>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="assets/img/coaches/gallery/6.jpg" title="" class="fancybox gallery-item" rel="gall-coaches">
                                <img src="assets/img/coaches/gallery/mini/6.jpg" alt="" class="img-responsive black_white">
                                <div class="blackout"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="line"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="tmm-row text-center">
                    <div class="item-circled-3">
                        <div class="face-container">
                            <div class="face"><img src="assets/img/coaches/doronin-a.jpg" alt="Доронин Александр"></div>
                            <div class="spiner"></div>
                        </div>
                        <ul class="social-icons">
                            <!--<li><a href=""><i class="glyphicon glyphicon-heart-empty"></i></a></li>
                            <li><a href=""><i class="glyphicon glyphicon-paperclip"></i></a></li>
                            <li><a href=""><i class="glyphicon glyphicon-link"></i></a></li>-->
                            <li>
                                <a href="assets/img/coaches/docs/doronin-s/1.jpg" title="" class="btn btn-primary3 fancybox" rel="gall-doc-doronin">
                                    Документы и награды
                                </a>
                            </li>
                        </ul>
                        <div class="item-content">
                            <h4>Доронин Александр</h4>
                            <p>Мастер спорта по спортивной гимнастике. Член национальной команды РБ по спортивной гимнастике. Участник Чемпионата Мира 2015. Победитель и призер международных и национальных первенств</p>
                        </div>
                    </div>
                    <div class="item-circled-3">
                        <div class="face-container">
                            <div class="face"><img src="assets/img/coaches/pochikovskaya-d.jpg" alt="Почиковская Дарья"></div>
                            <div class="spiner"></div>
                        </div>
                        <ul class="social-icons">
                            <!--<li><a href=""><i class="glyphicon glyphicon-heart-empty"></i></a></li>
                            <li><a href=""><i class="glyphicon glyphicon-paperclip"></i></a></li>
                            <li><a href=""><i class="glyphicon glyphicon-link"></i></a></li>-->
                            <li>
                                <a href="assets/img/coaches/docs/pochikovskaya-d/1.jpg" title="" class="btn btn-primary3 fancybox" rel="gall-doc-pochikovskaya">
                                    Документы и награды
                                </a>
                            </li>
                        </ul>
                        <div class="item-content">
                            <h4>Почиковская Дарья</h4>
                            <p>Кандидат в мастера спорта по спортивной акробатике. Член национальной команда республике Белорусь по акробатике. Многократный победитель и призер национальных первенств</p>
                        </div>
                    </div>
                    <div class="item-circled-3">
                        <div class="face-container">
                            <div class="face"><img src="assets/img/coaches/shalimova-a.jpg" alt="Шалимова Анастасия"></div>
                            <div class="spiner"></div>
                        </div>
                        <ul class="social-icons">
                            <!--<li><a href=""><i class="glyphicon glyphicon-heart-empty"></i></a></li>
                            <li><a href=""><i class="glyphicon glyphicon-paperclip"></i></a></li>
                            <li><a href=""><i class="glyphicon glyphicon-link"></i></a></li>-->
                            <li>
                                <a href="assets/img/coaches/docs/shalimova-a/1.jpg" title="" class="btn btn-primary3 fancybox" rel="gall-doc-shalimova">
                                    Документы и награды
                                </a>
                            </li>
                        </ul>
                        <div class="item-content">
                            <h4>Шалимова Анастасия</h4>
                            <p>Мастер спорта по спортивной гимнастике, кандидат в мастера спорта по акробатическим прыжкам на дорожке, неоднократный победитель и призер республиканских и международных соревнований</p>
                        </div>
                    </div>
                    <div class="item-circled-3">
                        <div class="face-container">
                            <div class="face"><img src="assets/img/coaches/mickulich-s.jpg" alt="Микулич Сергей"></div>
                            <div class="spiner"></div>
                        </div>
                        <ul class="social-icons">
                            <!--<li><a href=""><i class="glyphicon glyphicon-heart-empty"></i></a></li>
                            <li><a href=""><i class="glyphicon glyphicon-paperclip"></i></a></li>
                            <li><a href=""><i class="glyphicon glyphicon-link"></i></a></li>-->
                            <li>
                                <a href="assets/img/coaches/docs/mikulich-s/1.jpg" title="" class="btn btn-primary3 fancybox" rel="gall-doc-mikulich">
                                    Документы и награды
                                </a>
                            </li>
                        </ul>
                        <div class="item-content">
                            <h4>Микулич Сергей</h4>
                            <p>Чемпион Республики Беларусь по спортивной акробатике. Неоднократный победитель и призер международных соревнований. Финалист чемпиона Европы по спортивной акробатике 2007 (Нидерланды). </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
