<section id="coaches" class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        <span class="title-big">Тренеры </span>
                        отвечающие за результат <br />
                        вашего ребенка
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="tmm-row tmm-row-main">
                    <div class="item-square-3 item-square-3-main">
                        <div class="face-container">
                            <div class="face">
                                <img src="assets/img/coaches/margarita-y.jpg" alt="Маргарита Юрьевна" />
                            </div>
                        </div>
                        <div class="item-content">
                            <h4>Маргарита Юрьевна</h4>
                            <div class="text">
                                <p>
                                    Основатель центра в&nbsp;г.Барановичи: Барташевич Маргарита Юрьевна Мастер спорта международного класса по&nbsp;акробатике. Член национальной команды&nbsp;РБ по&nbsp;спортивной акробатике. Чемпионка Европы 2015, неоднократный призёр и&nbsp;победитель этапов кубка мира, серебряный призёр Чемпионата Мира 2016 (Китай). Человек года 2015&nbsp;г. Барановичи в&nbsp;сфере физической культуры и&nbsp;спорта.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item-square-3">
                        <div class="face-container">
                            <div class="face">
                                <img src="assets/img/coaches/doronin-a.jpg" alt="Доронин Александр" />
                            </div>
                        </div>
                        <div class="item-content">
                            <h4>Доронин Александр Александрович</h4>
                            <div class="text">
                                <p>Мастер спорта по спортивной гимнастике. Член национальной команды РБ по спортивной гимнастике. Участник Чемпионата Мира 2015. Победитель и призер международных и национальных первенств. </p>
                            </div>
                        </div>
                    </div>
                    <div class="item-square-3">
                        <div class="face-container">
                            <div class="face">
                                <img src="assets/img/coaches/teresh-v.jpg" alt="Тереш Виктория Геннадьевна" />
                            </div>
                        </div>
                        <div class="item-content">
                            <h4>Тереш Виктория Геннадьевна</h4>
                            <div class="text">
                                <p>
                                    Тереш Виктория Геннадьевна&nbsp;&mdash; Мастер спорта&nbsp;РБ по&nbsp;спортивной акробатике. Чемпионка&nbsp;РБ, призёр международных соревнований по&nbsp;акробатике. Закончила БГУФК по&nbsp;специальности: оздоровительная и&nbsp;адаптивная физическая культура. Тренер-преподаватель ГУ&nbsp;&laquo;СДЮШОР #3&nbsp;г. Барановичи&raquo;. Опыт работы: 5&nbsp;лет.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
