<!--
    ![ FOUNDER ]
-->
<!--
    @name: -=[ founder ]=-.
    @description: секция основателя (Риты).
-->

<section id="founder" class="bg-cover lst-result">
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        <span class="title-big">Основала центр &laquo;Крепыш&raquo; в&nbsp;Барановичах </span>
                        Барташевич Маргарита Юрьевна
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="advantages-list lst_result-list">
                    <ul class="list-primary">
                        <li>
                            <h3>
                                <span class="icon icon_1"></span> Мастер спорта международного класса по&nbsp;акробатике
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <span class="icon icon_2"></span> Член национальной команды&nbsp;РБ по&nbsp;спортивной акробатике с&nbsp;2012 по&nbsp;2017 год
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <span class="icon icon_3"></span> Чемпионка Европы 2015
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <span class="icon icon_4"></span> Серебряный призёр Чемпионата Мира 2016 (Китай)
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <span class="icon icon_5"></span> Многократный призёр и&nbsp;победитель этапов кубка мира
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <span class="icon icon_2"></span> Человек года 2015&nbsp;г. Барановичи в&nbsp;сфере физической культуры и&nbsp;спорта
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="img-wrapper">
                    <img src="assets/img/founder/rita.jpg" class="img-responsive img-rita" alt="Основала центра «Крепыш» в Барановичах Барташевич Маргарита Юрьевна" />
                </div>
            </div>
        </div>

    </div>
</section>
