<!--
    ![ GALLERY ]
-->
<!--
    @name: -=[ gallery ]=-.
    @description: галерея.
-->

<section id="gallery" class="bg-cover gallery">
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        <span class="title-big">Галерея&nbsp;</span>
                        Как проходят занятия в&nbsp;наших центрах
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="gallery__container" id="gallery__albums">
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <div class="thumbnail gallery__album gallery__img gallery__album_asanalieva" title="Асаналиева" data-target="asanalieva"></div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <div class="thumbnail gallery__album gallery__img gallery__album_pobediteley" title="Победителей" data-target="pobediteley"></div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <div class="thumbnail gallery__album gallery__img gallery__album_sedih" title="Седых" data-target="sedih"></div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <div class="thumbnail gallery__album gallery__img gallery__album_slobodskaya" title="Слободская" data-target="slobodskaya"></div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <div class="thumbnail gallery__album gallery__img gallery__album_vaneeva" title="Ванеева" data-target="vaneeva"></div>
                    </div>

                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <div class="thumbnail gallery__album gallery__img gallery__album_vaneeva"></div>
                    </div>


                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a title="Image" href="#"><img class="thumbnail img-responsive gallery__img" src="//placehold.it/600x350/777"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a title="Image" href="#"><img class="thumbnail img-responsive gallery__img" src="//placehold.it/600x350/992233"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a title="Image" href="#"><img class="thumbnail img-responsive gallery__img" src="//placehold.it/600x350/EEE"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a title="Image" href="#"><img class="thumbnail img-responsive gallery__img" src="//placehold.it/600x350/449955/FFF"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a title="Image" href="#"><img class="thumbnail img-responsive gallery__img" src="//placehold.it/600x350/DDD"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a title="Image" href="#">
                            <img class="thumbnail img-responsive gallery__img" src="//placehold.it/600x350/992233">
                        </a>
                    </div>
                </div>

                <!--
                #gallery__album_center.gallery__container.gallery__album-photos(.col-lg-3.col-sm-4.col-xs-6(a[href="#gallery__albums" title="Вернуться к альбомам" data-album="return"].thumbnail.gallery__img.gallery__img_return(i.fa.fa-level-up[aria-hidden="true"]))+.col-lg-3.col-sm-4.col-xs-6(a[href="assets/img/gallery/center/$.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="center"].thumbnail.gallery__img.gallery__img_center_$)*count+.col-lg-3.col-sm-4.col-xs-6(a[href="#gallery__albums" title="Вернуться к альбомам" data-album="return"].thumbnail.gallery__img.gallery__img_return(i.fa.fa-level-up[aria-hidden="true"])))
                -->

                <div id="gallery__album_asanalieva" class="gallery__container gallery__album-photos">
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="#gallery__albums" class="thumbnail gallery__img gallery__img_return" title="Вернуться к альбомам" data-album="return"><i class="fa fa-level-up" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="assets/img/gallery/asanalieva/1.jpg" class="thumbnail gallery__img gallery__img_asanalieva_1" data-fancybox="cl-group" data-caption="Асаналиева" title="Асаналиева" data-album="asanalieva"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="assets/img/gallery/asanalieva/2.jpg" class="thumbnail gallery__img gallery__img_asanalieva_2" data-fancybox="cl-group" data-caption="Асаналиева" title="Асаналиева" data-album="asanalieva"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="assets/img/gallery/asanalieva/3.jpg" class="thumbnail gallery__img gallery__img_asanalieva_3" data-fancybox="cl-group" data-caption="Асаналиева" title="Асаналиева" data-album="asanalieva"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="assets/img/gallery/asanalieva/4.jpg" class="thumbnail gallery__img gallery__img_asanalieva_4" data-fancybox="cl-group" data-caption="Асаналиева" title="Асаналиева" data-album="asanalieva"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="assets/img/gallery/asanalieva/5.jpg" class="thumbnail gallery__img gallery__img_asanalieva_5" data-fancybox="cl-group" data-caption="Асаналиева" title="Асаналиева" data-album="asanalieva"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="assets/img/gallery/asanalieva/6.jpg" class="thumbnail gallery__img gallery__img_asanalieva_6" data-fancybox="cl-group" data-caption="Асаналиева" title="Асаналиева" data-album="asanalieva"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-7">
                        <a href="assets/img/gallery/asanalieva/1.jpg" class="thumbnail gallery__img gallery__img_asanalieva_7" data-fancybox="cl-group" data-caption="Асаналиева" title="Асаналиева" data-album="asanalieva"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="assets/img/gallery/asanalieva/8.jpg" class="thumbnail gallery__img gallery__img_asanalieva_8" data-fancybox="cl-group" data-caption="Асаналиева" title="Асаналиева" data-album="asanalieva"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="assets/img/gallery/asanalieva/9.jpg" class="thumbnail gallery__img gallery__img_asanalieva_9" data-fancybox="cl-group" data-caption="Асаналиева" title="Асаналиева" data-album="asanalieva"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="assets/img/gallery/asanalieva/10.jpg" class="thumbnail gallery__img gallery__img_asanalieva_10" data-fancybox="cl-group" data-caption="Асаналиева" title="Асаналиева" data-album="asanalieva"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="assets/img/gallery/asanalieva/11.jpg" class="thumbnail gallery__img gallery__img_asanalieva_11" data-fancybox="cl-group" data-caption="Асаналиева" title="Асаналиева" data-album="asanalieva"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="assets/img/gallery/asanalieva/12.jpg" class="thumbnail gallery__img gallery__img_asanalieva_12" data-fancybox="cl-group" data-caption="Асаналиева" title="Асаналиева" data-album="asanalieva"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="assets/img/gallery/asanalieva/13.jpg" class="thumbnail gallery__img gallery__img_asanalieva_13" data-fancybox="cl-group" data-caption="Асаналиева" title="Асаналиева" data-album="asanalieva"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="assets/img/gallery/asanalieva/14.jpg" class="thumbnail gallery__img gallery__img_asanalieva_14" data-fancybox="cl-group" data-caption="Асаналиева" title="Асаналиева" data-album="asanalieva"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="assets/img/gallery/asanalieva/15.jpg" class="thumbnail gallery__img gallery__img_asanalieva_15" data-fancybox="cl-group" data-caption="Асаналиева" title="Асаналиева" data-album="asanalieva"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="#gallery__albums" class="thumbnail gallery__img gallery__img_return" title="Вернуться к альбомам" data-album="return"><i class="fa fa-level-up" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div id="gallery__album_pobediteley" class="gallery__container gallery__album-photos">
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="#gallery__albums" class="thumbnail gallery__img gallery__img_return" title="Вернуться к альбомам" data-album="return"><i class="fa fa-level-up" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="assets/img/gallery/pobediteley/1.jpg" class="thumbnail gallery__img gallery__img_pobediteley_1" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="pobediteley"></a>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/pobediteley/2.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="pobediteley" class="thumbnail gallery__img gallery__img_pobediteley_2"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/pobediteley/3.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="pobediteley" class="thumbnail gallery__img gallery__img_pobediteley_3"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/pobediteley/4.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="pobediteley" class="thumbnail gallery__img gallery__img_pobediteley_4"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/pobediteley/5.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="pobediteley" class="thumbnail gallery__img gallery__img_pobediteley_5"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/pobediteley/6.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="pobediteley" class="thumbnail gallery__img gallery__img_pobediteley_6"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/pobediteley/7.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="pobediteley" class="thumbnail gallery__img gallery__img_pobediteley_7"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/pobediteley/8.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="pobediteley" class="thumbnail gallery__img gallery__img_pobediteley_8"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/pobediteley/9.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="pobediteley" class="thumbnail gallery__img gallery__img_pobediteley_9"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/pobediteley/10.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="pobediteley" class="thumbnail gallery__img gallery__img_pobediteley_10"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/pobediteley/11.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="pobediteley" class="thumbnail gallery__img gallery__img_pobediteley_11"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/pobediteley/12.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="pobediteley" class="thumbnail gallery__img gallery__img_pobediteley_12"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/pobediteley/13.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="pobediteley" class="thumbnail gallery__img gallery__img_pobediteley_13"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/pobediteley/14.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="pobediteley" class="thumbnail gallery__img gallery__img_pobediteley_14"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/pobediteley/15.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="pobediteley" class="thumbnail gallery__img gallery__img_pobediteley_15"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <a href="#gallery__albums" class="thumbnail gallery__img gallery__img_return" title="Вернуться к альбомам" data-album="return"><i class="fa fa-level-up" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div id="gallery__album_sedih" class="gallery__container gallery__album-photos">
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="#gallery__albums" title="Вернуться к альбомам" data-album="return" class="thumbnail gallery__img gallery__img_return"><i class="fa fa-level-up" aria-hidden="true"></i></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/sedih/1.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="sedih" class="thumbnail gallery__img gallery__img_sedih_1"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/sedih/2.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="sedih" class="thumbnail gallery__img gallery__img_sedih_2"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/sedih/3.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="sedih" class="thumbnail gallery__img gallery__img_sedih_3"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/sedih/4.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="sedih" class="thumbnail gallery__img gallery__img_sedih_4"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/sedih/5.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="sedih" class="thumbnail gallery__img gallery__img_sedih_5"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/sedih/6.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="sedih" class="thumbnail gallery__img gallery__img_sedih_6"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/sedih/7.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="sedih" class="thumbnail gallery__img gallery__img_sedih_7"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/sedih/8.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="sedih" class="thumbnail gallery__img gallery__img_sedih_8"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/sedih/9.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="sedih" class="thumbnail gallery__img gallery__img_sedih_9"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/sedih/10.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="sedih" class="thumbnail gallery__img gallery__img_sedih_10"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/sedih/11.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="sedih" class="thumbnail gallery__img gallery__img_sedih_11"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/sedih/12.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="sedih" class="thumbnail gallery__img gallery__img_sedih_12"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/sedih/13.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="sedih" class="thumbnail gallery__img gallery__img_sedih_13"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="#gallery__albums" title="Вернуться к альбомам" data-album="return" class="thumbnail gallery__img gallery__img_return"><i class="fa fa-level-up" aria-hidden="true"></i></a></div>
                </div>

                <div id="gallery__album_slobodskaya" class="gallery__container gallery__album-photos">
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="#gallery__albums" title="Вернуться к альбомам" data-album="return" class="thumbnail gallery__img gallery__img_return"><i class="fa fa-level-up" aria-hidden="true"></i></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/slobodskaya/1.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="slobodskaya" class="thumbnail gallery__img gallery__img_slobodskaya_1"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/slobodskaya/2.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="slobodskaya" class="thumbnail gallery__img gallery__img_slobodskaya_2"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/slobodskaya/3.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="slobodskaya" class="thumbnail gallery__img gallery__img_slobodskaya_3"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/slobodskaya/4.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="slobodskaya" class="thumbnail gallery__img gallery__img_slobodskaya_4"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/slobodskaya/5.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="slobodskaya" class="thumbnail gallery__img gallery__img_slobodskaya_5"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/slobodskaya/6.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="slobodskaya" class="thumbnail gallery__img gallery__img_slobodskaya_6"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/slobodskaya/7.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="slobodskaya" class="thumbnail gallery__img gallery__img_slobodskaya_7"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/slobodskaya/8.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="slobodskaya" class="thumbnail gallery__img gallery__img_slobodskaya_8"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/slobodskaya/9.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="slobodskaya" class="thumbnail gallery__img gallery__img_slobodskaya_9"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/slobodskaya/10.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="slobodskaya" class="thumbnail gallery__img gallery__img_slobodskaya_10"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/slobodskaya/11.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="slobodskaya" class="thumbnail gallery__img gallery__img_slobodskaya_11"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/slobodskaya/12.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="slobodskaya" class="thumbnail gallery__img gallery__img_slobodskaya_12"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/slobodskaya/13.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="slobodskaya" class="thumbnail gallery__img gallery__img_slobodskaya_13"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="#gallery__albums" title="Вернуться к альбомам" data-album="return" class="thumbnail gallery__img gallery__img_return"><i class="fa fa-level-up" aria-hidden="true"></i></a></div>
                </div>

                <div id="gallery__album_vaneeva" class="gallery__container gallery__album-photos">
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="#gallery__albums" title="Вернуться к альбомам" data-album="return" class="thumbnail gallery__img gallery__img_return"><i class="fa fa-level-up" aria-hidden="true"></i></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/vaneeva/1.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="vaneeva" class="thumbnail gallery__img gallery__img_vaneeva_1"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/vaneeva/2.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="vaneeva" class="thumbnail gallery__img gallery__img_vaneeva_2"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/vaneeva/3.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="vaneeva" class="thumbnail gallery__img gallery__img_vaneeva_3"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/vaneeva/4.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="vaneeva" class="thumbnail gallery__img gallery__img_vaneeva_4"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/vaneeva/5.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="vaneeva" class="thumbnail gallery__img gallery__img_vaneeva_5"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/vaneeva/6.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="vaneeva" class="thumbnail gallery__img gallery__img_vaneeva_6"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/vaneeva/7.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="vaneeva" class="thumbnail gallery__img gallery__img_vaneeva_7"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/vaneeva/8.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="vaneeva" class="thumbnail gallery__img gallery__img_vaneeva_8"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/vaneeva/9.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="vaneeva" class="thumbnail gallery__img gallery__img_vaneeva_9"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/vaneeva/10.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="vaneeva" class="thumbnail gallery__img gallery__img_vaneeva_10"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/vaneeva/11.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="vaneeva" class="thumbnail gallery__img gallery__img_vaneeva_11"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="assets/img/gallery/vaneeva/12.jpg" data-fancybox="cl-group" data-caption="Победителей" title="Победителей" data-album="vaneeva" class="thumbnail gallery__img gallery__img_vaneeva_12"></a></div>
                    <div class="col-lg-3 col-sm-4 col-xs-6"><a href="#gallery__albums" title="Вернуться к альбомам" data-album="return" class="thumbnail gallery__img gallery__img_return"><i class="fa fa-level-up" aria-hidden="true"></i></a></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div tabindex="-1" class="modal fade" id="galleryModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" type="button" data-dismiss="modal">×</button>
                                <h3 class="modal-title">Heading</h3>
                            </div>
                            <div class="modal-body">

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
