<!--
    ![ KREPYSH-DOLLAR ]
-->
<!--
    @name: -=[ krepysh-dollar ]=-.
    @description: блок о Крепыш.Доллар.
-->

<section id="krepysh-dollar" class="bg-cover krepysh-dollar">

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2 class="title__header">
                        Почему дети <span class="title-big">сами</span> <br />
                        стремятся попасть на <span class="text-underline">каждую</span> тренировку
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="krepysh-dollar__visual">
                    <!--<div class="bg-cover krepysh-dollar__arrow krepysh-dollar__arrow_up"></div>-->
                    <img src="assets\img\krepysh-dollar\dollar.jpg" alt="krepysh.dollar" class="img-responsive" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="krepysh-dollar__text">
                    <p>
                        Крепыш.Доллар&nbsp;&mdash; мотивационная игровая валюта для Вашего ребенка, которую мы&nbsp;используем в&nbsp;наших центрах.
                    </p>
                    <p>
                        За&nbsp;посещение занятия ребенок получает 25&nbsp;Крепыш.Долларов, на&nbsp;которые уже после нескольких тренировок он&nbsp;сможет обменять их&nbsp;на&nbsp;<span class="text-strong">ценный подарок</span>.
                    </p>
                </div>
                <div class="krepysh-dollar__list-of-gifts">
                    <a href="./assets/img/advantages/photos/2.jpg" class="btn btn-primary1 fancybox" title="Список подарков" role="button">
                        Список подарков
                    </a>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-6">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="krepysh-dollar__video">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7PNe21gQhcU" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div class="krepysh-dollar__text-header">
                    А на самом деле
                </div>

                <div class="krepysh-dollar__text">
                    <p>
                        Укрепляя своё здоровье и&nbsp;иммунитет, ваш ребенок развивает <span class="text-strong">целеустремленность, трудолюбие и&nbsp;самостоятельность,</span> о&nbsp;чем неоднократно заявляют наши родители.
                    </p>
                </div>
            </div>
        </div>

        <div class="row form-row">
            <div class="col-md-6">
                <div class="krepysh-dollar__text">
                    <p>
                        Получите первые 25&nbsp;Крепыш.Долларов, посетив <span class="text-strong">бесплатное</span> пробное занятие в&nbsp;любом из&nbsp;наших 18&nbsp;центров.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="whichService" data-nameform="Блок Крепыш.Доллар" data-btnidsubmit="hero-main-btn">
                    <div class="form-order krepysh-dollar__form text-center" role="form">
                        <form action="mail.php" class="order built-in-formOrder" method="post">
                            <!--
                            -- .has-feedback
                            --
                            -- .has-success
                            -- .has-warning
                            -- .has-error

                            -- glyphicon-ok
                            -- glyphicon-remove
                            -->
                            <div class="form-group form-group-main has-feedback">
                                <label class="control-label sr-only" for="bsPhone">Введите номер телефона</label>
                                <input type="tel" class="validating form-control form-control-main form-control_new bsPhone" name="bsPhone" placeholder="Введите номер телефона" aria-describedby="bsPhoneStatus" required="required" />
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                <button type="submit" class="btn btn-primary1 btn-primary1_new submit" role="button">
                                    Оставить заявку
                                </button>
                            </div>

                            <input type="hidden" name="whichService" value="Блок Крепыш.Доллар" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
