<!--
    ![ KREPYSH-DOLLAR ]
-->
<!--
    @name: -=[ krepysh-dollar ]=-.
    @description: блок о Крепыш.Доллар.
-->

<section id="krepysh-dollar" class="bg-cover krepysh-dollar">

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2 class="title__header">
                        Ваш ребенок <span class="title-big">сам</span> <br />
                        захочет посещать <span class="text-underline">каждую</span> тренировку <br />
                        в&nbsp;нашем центре
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="krepysh-dollar__visual">
                    <!--<div class="bg-cover krepysh-dollar__arrow krepysh-dollar__arrow_up"></div>-->
                    <img src="assets\img\krepysh-dollar\dollar.jpg" alt="krepysh.dollar" class="img-responsive" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="krepysh-dollar__text">
                    <p>
                        В&nbsp;2016 году появилась детская мотивационная игровая валюта&nbsp;&mdash; Крепыш.Доллар.
                    </p>
                    <p>
                        За&nbsp;каждое посещение занятия, Ваш ребенок получает 25&nbsp;Крепыш.Долларов, которые уже через пару тренировок он&nbsp;сможет обменять на&nbsp;<span class="text-strong">ценные призы</span>.
                    </p>
                    <p>
                        Таким образом он&nbsp;будет укреплять здоровье самостоятельно желая посетить каждую тренировку, вместо использования слов &laquo;Надо!&raquo; и&nbsp;&laquo;Пора!&raquo;.
                    </p>
                </div>
                <div class="krepysh-dollar__list-of-gifts">
                    <!--<a href="./assets/img/krepysh-dollar/list-of-gifts.jpg" class="btn btn-light_yellow fancybox" title="" data-fancybox data-type="image" role="button">
                        Список подарков
                    </a>-->
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9 krepysh-dollar__video">
                    <div class="youtube bg-cover embed-responsive-item youtube-pulse"
                        id="7PNe21gQhcU"
                        data-params="modestbranding=1&disablekb=1&rel=0&color=white&controls=1&fs=1">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="krepysh-dollar__text-header">
                    Посмотрите на&nbsp;отзывы от&nbsp;родителей в&nbsp;Минске!
                </div>

                <div class="krepysh-dollar__text">
                    <p>
                        Укрепляя своё здоровье, иммунитет, приобретая лидерские качества, Ваш ребенок развивает целеустремлённость, трудолюбие и&nbsp;самостоятельность по&nbsp;собственному желанию.
                    </p>
                </div>

                <div class="krepysh-dollar__text">
                    <p>
                        Оставьте заявку и&nbsp;получите Ваши первые 25&nbsp;Крепыш.Долларов на&nbsp;пробном занятии.
                    </p>
                </div>

                <div class="whichService" data-nameform="Блок Крепыш.Доллар" data-btnidsubmit="hero-main-btn">
                    <div class="form-order krepysh-dollar__form text-center" role="form">
                        <form action="mail.php" class="order built-in-formOrder" method="post">
                            <!--
                            -- .has-feedback
                            --
                            -- .has-success
                            -- .has-warning
                            -- .has-error

                            -- glyphicon-ok
                            -- glyphicon-remove
                            -->
                            <div class="form-group form-group-main has-feedback">
                                <label class="control-label sr-only" for="bsPhone">Введите номер телефона</label>
                                <input type="tel" class="validating form-control form-control-main form-control_new bsPhone" name="bsPhone" placeholder="Введите номер телефона" aria-describedby="bsPhoneStatus" required="required" />
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                <button type="submit" class="btn btn-primary1 btn-primary1_new submit" role="button">
                                    Оставить заявку
                                </button>
                            </div>

                            <input type="hidden" name="whichService" value="Блок Крепыш.Доллар" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
