<section id="media" class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Как проходят наши тренировки</h3>

                <!-- Elastislide Carousel -->
                <ul id="carousel" class="elastislide-list">
                    <li>
                        <a href="./assets/img/advantages/photos/1.jpg" class="thumbnail fancybox" rel="gal" title="">
                            <img src="./assets/img/advantages/photos/mini/1.jpg" alt="Image" class="img-responsive">
                        </a>
                    </li>
                    <li>
                        <a href="./assets/img/advantages/photos/2.jpg" class="thumbnail fancybox" rel="gal" title="">
                            <img src="./assets/img/advantages/photos/mini/2.jpg" alt="Image" class="img-responsive">
                        </a>
                    </li>
                    <li>
                        <a href="./assets/img/advantages/photos/3.jpg" class="thumbnail fancybox" rel="gal" title="">
                            <img src="./assets/img/advantages/photos/mini/3.jpg" alt="Image" class="img-responsive">
                        </a>
                    </li>
                    <li>
                        <a href="./assets/img/advantages/photos/4.jpg" class="thumbnail fancybox" rel="gal" title="">
                            <img src="./assets/img/advantages/photos/mini/4.jpg" alt="Image" class="img-responsive">
                        </a>
                    </li>
                    <li>
                        <a href="./assets/img/advantages/photos/5.jpg" class="thumbnail fancybox" rel="gal" title="">
                            <img src="./assets/img/advantages/photos/mini/5.jpg" alt="Image" class="img-responsive">
                        </a>
                    </li>
                    <li>
                        <a href="./assets/img/advantages/photos/6.jpg" class="thumbnail fancybox" rel="gal" title="">
                            <img src="./assets/img/advantages/photos/mini/6.jpg" alt="Image" class="img-responsive">
                        </a>
                    </li>
                    <li>
                        <a href="./assets/img/advantages/photos/7.jpg" class="thumbnail fancybox" rel="gal" title="">
                            <img src="./assets/img/advantages/photos/mini/7.jpg" alt="Image" class="img-responsive">
                        </a>
                    </li>
                    <li>
                        <a href="./assets/img/advantages/photos/8.jpg" class="thumbnail fancybox" rel="gal" title="">
                            <img src="./assets/img/advantages/photos/mini/8.jpg" alt="Image" class="img-responsive">
                        </a>
                    </li>
                </ul>
                <!-- End Elastislide Carousel -->
            </div>
        </div>

        <!--<div class="row">
            <div class="col-md-4">
                <h3 class="text-center">Видео о центре Крепыш</h3>
                <div class="video video-responsive">
                    <div class="youtube"
                         id="CUiQh_9k7q0"
                         data-params="modestbranding=1&rel=0&showinfo=0&start=0&controls=1&vq=hd720">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Видеоотзыв о тренере</h3>
                <div class="video video-responsive">
                    <div class="youtube"
                         id="qbpNv4gI14o"
                         data-params="modestbranding=1&rel=0&showinfo=0&start=0&controls=1&vq=hd720">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Тренировка глазами ребенка</h3>
                <div class="video video-responsive">
                    <div class="youtube"
                         id="mczuKRo5Nr8"
                         data-params="modestbranding=1&rel=0&showinfo=0&start=0&controls=1&vq=hd720">
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section>
