<section id="price" class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        <span class="title-big">Честные цены </span>
                        в&nbsp;нашем центре* <br />
                        <small>(*- цены остаются неизменными до&nbsp;конца сезона)</small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Абонемент</th>
                                <th>8 занятий в месяц, руб.</th>
                                <th>4 занятия в месяц, руб.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    1 месяц
                                </td>
                                <td class="text-center">
                                    35
                                </td>
                                <td class="text-center">
                                    20
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    3 месяца
                                </td>
                                <td class="text-center">
                                    89&nbsp;(экономия&nbsp;15%)
                                </td>
                                <td class="text-center">
                                    &mdash;
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    1 занятие (в группе)
                                </td>
                                <td colspan="2" class="text-center">
                                    6
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>
                                    Индивидуальное занятие
                                </td>
                                <td colspan="2" class="text-center">
                                    10
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h3>
                        Оставить заявку на бесплатное занятие
                    </h3>
                    <!--
                    <p>
                        <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#modalOrder" data-service="[Цены] - Узнать подробнее" role="button" id="price-main-button">Узнать подробнее</button>
                    </p>
                    -->
                    <div class="whichService" data-nameForm="секция цен" data-btnIDsubmit="price-main-btn">
                        //= ../../modules/forms/built-in-formOrder.html
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
table-hover
table-striped
table-bordered
table-condensed
-->
