<section id="price" class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        <span class="title-big">Честные цены </span>
                        на абонементы* в центрах гимнастики "Крепыш" <br />
                        <small>(*- цены не изменяются по ходу сезона)</small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Абонемент</th>
                                <th class="text-center">8 занятий в месяц, руб.</th>
                                <th class="text-center">4 занятия в месяц, руб.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    1 месяц
                                </td>
                                <td class="text-center">
                                    48
                                </td>
                                <td rowspan="3" class="text-center">
                                    30
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    1&nbsp;месяц (для 2&nbsp;детей из&nbsp;одной семьи)
                                </td>
                                <td class="text-center">
                                    76
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    1&nbsp;месяц (для одного ребёнка из&nbsp;многодетной семьи)
                                </td>
                                <td class="text-center">
                                    38
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>
                                    3 месяца
                                </td>
                                <td class="text-center">
                                    122
                                </td>
                                <td class="text-center">
                                    &mdash;
                                </td>
                            </tr>
                            <tr class="bestPrice">
                                <th scope="row">5</th>
                                <td>
                                    6 месяцев
                                </td>
                                <td class="text-center">
                                    248
                                </td>
                                <td class="text-center">
                                    &mdash;
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>
                                    Индивидуальное занятие
                                </td>
                                <td colspan="2" class="text-center">
                                    20
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h3>
                        Оставьте заявку на&nbsp;бесплатное занятие и&nbsp;участвуйте в&nbsp;розыгрыше 5&nbsp;абонементов
                    </h3>
                    <!--
                    <p>
                        <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#modalOrder" data-service="[Цены] - Узнать подробнее" role="button" id="price-main-button">Узнать подробнее</button>
                    </p>
                    -->
                    <div class="whichService" data-nameForm="секция цен" data-btnIDsubmit="price-main-btn">
                        //= ../../modules/forms/built-in-formOrder.html
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
table-hover
table-striped
table-bordered
table-condensed
-->
