<section id="price" class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        <span>Честные цены </span>
                        на абонементы* в центрах гимнастики "Крепыш" <br />
                        <small>(*- цены не изменяются по ходу сезона)</small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Абонемент</th>
                                <th>4 занятий в месяц, руб.</th>
                                <th>8 занятий в месяц, руб.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    1 месяц
                                    <hr />для 2 детей из одной семьи
                                </td>
                                <td>
                                    24<span class="oldCurrency">240 000</span> / <span class="oneLesson">6 за 1 занятие</span>
                                    <!--<hr />240 000-->
                                </td>
                                <td>
                                    44<span class="oldCurrency">440 000</span> / <span class="oneLesson">5,5 за 1 занятие</span>
                                    <hr />68<span class="oldCurrency">680 000</span> / <span class="oneLesson">4,25 за 1 занятие</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    3 месяца
                                </td>
                                <td>
                                    70<span class="oldCurrency">70 000</span> / <span class="oneLesson">5,83 за 1 занятие</span>
                                </td>
                                <td>
                                    114<span class="oldCurrency">1 140 000</span> / <span class="oneLesson">4,75 за 1 занятие</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    6 месяцев
                                </td>
                                <td>
                                    130<span class="oldCurrency">1 300 000</span> / <span class="oneLesson">5,42 за 1 занятие</span>
                                </td>
                                <td>
                                    216<span class="oldCurrency">2 160 000</span> / <span class="oneLesson">4,5 за 1 занятие</span>
                                </td>
                            </tr>
                            <tr class="nonStriped">
                                <th colspan="4"><hr /></th>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>
                                    Индивидуальное занятие
                                </td>
                                <td colspan="2">
                                    39.9<span class="oldCurrency">399 000</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h3>
                        Оставить заявку на бесплатное занятие и участвовать в розыгрыше 3х абонементов
                    </h3>
                    <p>
                        <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#modalOrder" data-service="[Цены] - Узнать подробнее (Заявка на бесплатное занятие и розыгрыш 3x абонементов)" role="button">Узнать подробнее</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
table-hover
table-striped
table-bordered
table-condensed
-->
