<section id="problems" class="bg-cover">

    <div class="blackout"></div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        <span>ПРОБЛЕМЫ </span>
                        при выборе школы гимнастики с <br />
                        которыми сталкивается 95% родителей
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="problems-list">
                    <ul class="list-primary">
                        <li>
                            <span class="fa-stack icon-font">
                                <i class="fa fa-file-text-o fa-stack-1x"></i>
                                <i class="fa fa-ban fa-stack-1x fa-stack-1.5x"></i>
                            </span>
                            <span>Обучают неквалифицированные тренера.</span> Большинство тренеров, даже в известных школах, не имеют дипломов, документов о гимнастическом образовании. Вашего ребенка обучает  тренер по футболу или физической культуре, а не квалифицированный тренер по гимнастике.
                        </li>
                        <li><i class="fa fa-users icon-font" aria-hidden="true"></i>
                            <span>Переполненные группы.</span> По телефону обещают, что в группе будет учиться 14 детей, а по факту обучается больше 20. В итоге ухудшается сам тренировочный процесс и гимнастические элементы не доучиваются до конца, что приводит к плохой технике движений.
                        </li>
                        <li><i class="fa fa-line-chart icon-font" aria-hidden="true"></i>
                            <span>Увеличение цены за обучение.</span> Школы поднимают цену по ходу учебного года и ставят перед фактом, когда ребенок уже сдружился с группой и привык к тренеру.
                        </li>
                        <li>
                            <span class="fa-stack icon-font">
                                <i class="fa fa-cloud fa-stack-1x"></i>
                                <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                            </span>
                            <span>Расположение школы.</span> Из-за малого количества центров приходится проезжать полгорода, чтобы отвезти и привезти ребенка на часовую тренировку.
                        </li>
                        <li><i class="fa fa-hourglass-half icon-font" aria-hidden="true"></i>
                            <!--<i class="fa fa-gamepad" aria-hidden="true"></i>-->
                            <!--<i class="fa fa-child" aria-hidden="true"></i>-->
                            <span>Отстающие и скучающие.</span> Из-за переполненной группы дети ждут, когда тренер сможет уделить им время, отчего начинают заниматься своими делами и отвлекаются, что сказывается на дисциплине.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6 text-right">
                <div class="problems-result" id="problems-result">
                    <h3>В итоге:</h3>
                    <p>
                        ваш ребенок обучается посредственной технике исполнения элементов у тренера по физкультуре, за тридевять земель, постепенно теряя интерес к занятиям, а не из-за того, что кружок ему не подходит.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
