<section id="problems" class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        <span>ПРОБЛЕМЫ</span>
                        при выборе школы гимнастики с <br />
                        которыми сталкивается 95% родителей.
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <ul>
                    <li><img src="assets/img/problems/icons/1.png" alt="">
                        Обучают неквалифицированные тренера. Большинство тренеров, даже в известных школах, не имеют дипломов, документов о гимнастическом образовании. Вашего ребенка обучает  тренер по футболу или физической культуре, а не квалифицированный тренер по гимнастике.
                    </li>
                    <li><img src="assets/img/problems/icons/2.png" alt="">
                        Переполненные группы. По телефону обещают, что в группе будет учиться 14 детей, а по факту обучается больше 20. В итоге ухудшается сам тренировочный процесс и гимнастические элементы не доучиваются до конца, что приводит к плохой технике движений.
                    </li>
                    <li><img src="assets/img/problems/icons/3.png" alt="">
                        Увеличение цены за обучение. Школы поднимают цену по ходу учебного года и ставят перед фактом, когда ребенок уже сдружился с группой и привык к тренеру.
                    </li>
                    <li><img src="assets/img/problems/icons/4.png" alt="">
                        Расположение школы. Из-за малого количества центров приходится проезжать полгорода, чтобы отвезти и привезти ребенка на часовую тренировку.
                    </li>
                    <li><img src="assets/img/problems/icons/5.png" alt="">
                        Отстающие и скучающие. Из-за переполненной группы дети ждут, когда тренер сможет уделить им время, отчего начинают заниматься своими делами и отвлекаются, что сказывается на дисциплине.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <p>В итоге:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6 text-right">
                <p>
                    ваш ребенок обучается посредственной технике исполнения элементов у тренера по физкультуре, за тридевять земель, постепенно теряя интерес к занятиям, а не из-за того, что кружок ему не подходит.
                </p>
            </div>
        </div>
    </div>
</section>
