<!--
    ![ REVIEWS-REVIEWS-VIDEO ]
-->
<!--
    @name: -=[ reviews-reviews-video ]=-.
    @description: двойной блок текстовых и видео отзывов.
-->
<div class="twice-section twice-section_secs_reviews-reviews-video" id="reviews-reviews-video">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-6">
                //= reviews.html
            </div>

            <div class="col-xs-12 col-md-6">
                //= reviews-video.html
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h3>
                        Оставьте заявку на&nbsp;бесплатное занятие и&nbsp;участвуйте в&nbsp;розыгрыше 5&nbsp;абонементов
                    </h3>
                    <!--
                    <p>
                        <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#modalOrder" data-service="[Цены] - Узнать подробнее" role="button" id="price-main-button">Узнать подробнее</button>
                    </p>
                    -->
                    <div class="whichService" data-nameForm="секция отзывов" data-btnIDsubmit="price-main-btn">
                        //= ../../modules/forms/built-in-formOrder.html
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / двойной блок текстовых и видео отзывов -->
