<section id="reviews" class="bg-cover">
    <div class="container">

        <!--<hr>-->

        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        Отзывы из книг благодарности:
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                <button type="submit" id="getMoreReviews" class="btn btn-primary1 btn-primary1_new getMoreReviews" role="button">Показать больше отзывов</button>

                <div id="reviewsVK" class="reviewsVK">
                    <div>Всего отзывов:&nbsp;
                        <span id="reviewsVK__count" class="reviewsVK__count"></span> /
                        <span id="reviewsVK__count-whole" class="reviewsVK__count-whole"></span>
                    </div>

                    <div id="reviewsVK__reviews" class="reviewsVK__reviews">
                        <!--
                        .reviewsVK__review[data-review-id=""](.reviewsVK__owner(img.reviewsVK__photo.reviewsVK__photo_100[src="" alt=""]+p.h3.reviewsVK__username(.reviewsVK__name.reviewsVK__name_first+.reviewsVK__name.reviewsVK__name_last)+.reviewsVK__date)+.reviewsVK__text+.reviewsVK__attachments(.reviewsVK__attachments-photos(a.thumbnail.fancybox[href="" rel="reviewsVK__attachments-photo" title=""](img.img-responsive.reviewsVK__attachments-photo[alt=""])*1)))
                        -->

                        <div id="reviewsVK__reviews_firstBatch"></div>

                        <!--
                        <div class="reviewsVK__review" data-review-id="">
                            <div class="reviewsVK__owner">
                                <img src="" alt="" class="reviewsVK__photo reviewsVK__photo_100">
                                <p class="h3 reviewsVK__username">
                                    <span class="reviewsVK__name reviewsVK__name_first"></span>
                                    <span class="reviewsVK__name reviewsVK__name_last"></span>
                                    <span class="reviewsVK__date"></span>
                                </p>
                            </div>
                            <div class="reviewsVK__text"></div>
                            <div class="reviewsVK__attachments">
                                <div class="reviewsVK__attachments-photos">
                                    <a href="" class="thumbnail fancybox" rel="reviewsVK__attachments-photo" title="">
                                        <img src="" class="img-responsive reviewsVK__attachments-photo" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        -->
                        <!-- 15 старых отзывов -->
                        <div class="reviewsVK__review" data-review-id="">
                            <div class="reviewsVK__owner">
                                <img src="assets\img\camera_100.png" alt="" class="reviewsVK__photo reviewsVK__photo_100">
                                <p class="h3 reviewsVK__username">
                                    <span class="reviewsVK__name reviewsVK__name_first">Алексей</span>
                                    <span class="reviewsVK__name reviewsVK__name_last">Петрович</span>
                                </p>
                                <div class="reviewsVK__date"></div>
                            </div>
                            <div class="reviewsVK__text">Занимаемся в центре пол года у тренера Анастасии Владимировны. Очень внимательный и любящий свою работу преподаватель. Ребенок очень доволен. Стал более дисциплинированным, собранным и бодрым.</div>
                            <div class="reviewsVK__attachments">
                                <div class="reviewsVK__attachments-photos"></div>
                            </div>
                        </div>
                        <div class="reviewsVK__review" data-review-id="">
                            <div class="reviewsVK__owner">
                                <img src="assets\img\camera_100.png" alt="" class="reviewsVK__photo reviewsVK__photo_100">
                                <p class="h3 reviewsVK__username">
                                    <span class="reviewsVK__name reviewsVK__name_first">Оля</span>
                                    <span class="reviewsVK__name reviewsVK__name_last"></span>
                                </p>
                                <div class="reviewsVK__date"></div>
                            </div>
                            <div class="reviewsVK__text">Сына привела в центр с большим сомнением. Но после первого пробного занятия мои сомнения улетучились. Более организованного и правильно подобранного по возрасту занятия еще не видела ни в одном детском оздоровительном центре. Здесь действительно работают ПРОФЕССИОНАЛЫ!!!</div>
                            <div class="reviewsVK__attachments">
                                <div class="reviewsVK__attachments-photos"></div>
                            </div>
                        </div>
                        <div class="reviewsVK__review" data-review-id="">
                            <div class="reviewsVK__owner">
                                <img src="assets\img\camera_100.png" alt="" class="reviewsVK__photo reviewsVK__photo_100">
                                <p class="h3 reviewsVK__username">
                                    <span class="reviewsVK__name reviewsVK__name_first">Мария</span>
                                    <span class="reviewsVK__name reviewsVK__name_last"></span>
                                </p>
                                <div class="reviewsVK__date"></div>
                            </div>
                            <div class="reviewsVK__text">Занимаемся у Сергея Микулина на Герасименко, 10. Мой ребенок просто в восторге от тренировок и всегда ждет следующих занятий. Спасибо вам Сергей за вашу работу.</div>
                            <div class="reviewsVK__attachments">
                                <div class="reviewsVK__attachments-photos"></div>
                            </div>
                        </div>
                        <div class="reviewsVK__review" data-review-id="">
                            <div class="reviewsVK__owner">
                                <img src="assets\img\camera_100.png" alt="" class="reviewsVK__photo reviewsVK__photo_100">
                                <p class="h3 reviewsVK__username">
                                    <span class="reviewsVK__name reviewsVK__name_first">Олег</span>
                                    <span class="reviewsVK__name reviewsVK__name_last"></span>
                                </p>
                                <div class="reviewsVK__date"></div>
                            </div>
                            <div class="reviewsVK__text">Мой сын тренируется в группе у Сергея Михайловича. Он после 6 месяцев занятий, стал более координационным в своих действиях, дисциплинированным, стал меньше болеть. Сергей Михайович, спасибо вам за ваш нелегкий труд.</div>
                            <div class="reviewsVK__attachments">
                                <div class="reviewsVK__attachments-photos"></div>
                            </div>
                        </div>
                        <div class="reviewsVK__review" data-review-id="">
                            <div class="reviewsVK__owner">
                                <img src="assets\img\camera_100.png" alt="" class="reviewsVK__photo reviewsVK__photo_100">
                                <p class="h3 reviewsVK__username">
                                    <span class="reviewsVK__name reviewsVK__name_first">Вика</span>
                                    <span class="reviewsVK__name reviewsVK__name_last"></span>
                                </p>
                                <div class="reviewsVK__date"></div>
                            </div>
                            <div class="reviewsVK__text">Тренируемся в группе у Александр Александровича. Сын очень доволен занятиями, показывает дома элементы, которым учит Александр Александрович. От себя мамы, хочу сказать наш тренер самый лучший.</div>
                            <div class="reviewsVK__attachments">
                                <div class="reviewsVK__attachments-photos"></div>
                            </div>
                        </div>
                        <div class="reviewsVK__review" data-review-id="">
                            <div class="reviewsVK__owner">
                                <img src="assets\img\camera_100.png" alt="" class="reviewsVK__photo reviewsVK__photo_100">
                                <p class="h3 reviewsVK__username">
                                    <span class="reviewsVK__name reviewsVK__name_first">Елена</span>
                                    <span class="reviewsVK__name reviewsVK__name_last"></span>
                                </p>
                                <div class="reviewsVK__date"></div>
                            </div>
                            <div class="reviewsVK__text">Ходим на занятия к Александр Александровичу. Моей дочке все нравится и она с нетерпением ждет следующих тренировок. Спасибо вам Александр Александрович.</div>
                            <div class="reviewsVK__attachments">
                                <div class="reviewsVK__attachments-photos"></div>
                            </div>
                        </div>
                        <div class="reviewsVK__review" data-review-id="">
                            <div class="reviewsVK__owner">
                                <img src="assets\img\camera_100.png" alt="" class="reviewsVK__photo reviewsVK__photo_100">
                                <p class="h3 reviewsVK__username">
                                    <span class="reviewsVK__name reviewsVK__name_first">Александр</span>
                                    <span class="reviewsVK__name reviewsVK__name_last">Васильевич</span>
                                </p>
                                <div class="reviewsVK__date"></div>
                            </div>
                            <div class="reviewsVK__text">Посещаем занятия на проспекте победителей 109 занимаемся в группе у Артур Петровича. Хочу сказать, что наш тренер очень хорошо знает свое дело и успевает уделить время каждому ребенку. Наш сын очень доволен занятиями и мы научились много нового. Спасибо Артур Петрович.</div>
                            <div class="reviewsVK__attachments">
                                <div class="reviewsVK__attachments-photos"></div>
                            </div>
                        </div>
                        <div class="reviewsVK__review" data-review-id="">
                            <div class="reviewsVK__owner">
                                <img src="assets\img\camera_100.png" alt="" class="reviewsVK__photo reviewsVK__photo_100">
                                <p class="h3 reviewsVK__username">
                                    <span class="reviewsVK__name reviewsVK__name_first">Ирина</span>
                                    <span class="reviewsVK__name reviewsVK__name_last">Владимировна</span>
                                </p>
                                <div class="reviewsVK__date"></div>
                            </div>
                            <div class="reviewsVK__text">Ходим на занятия к Артур Петровичу. Наш сынок просто сияет и всегда спрашивает, когда будут следующие занятия, очень любит своего тренера, а от себя мамы, хочу сказать, что у Артура Петровича железная дисциплина в группе и он знает свое дело. Спасибо Артур Петрович.</div>
                            <div class="reviewsVK__attachments">
                                <div class="reviewsVK__attachments-photos"></div>
                            </div>
                        </div>
                        <div class="reviewsVK__review" data-review-id="">
                            <div class="reviewsVK__owner">
                                <img src="assets\img\camera_100.png" alt="" class="reviewsVK__photo reviewsVK__photo_100">
                                <p class="h3 reviewsVK__username">
                                    <span class="reviewsVK__name reviewsVK__name_first">Алексей</span>
                                    <span class="reviewsVK__name reviewsVK__name_last">Иванович</span>
                                </p>
                                <div class="reviewsVK__date"></div>
                            </div>
                            <div class="reviewsVK__text">Хотим выразить благодарность нашему тренеру Артуру Петровичу. Более ответственного и высококвалифицированного специалиста в сфере физической культуры и спорта еще не встречала. Человек, который действительно знает свое дело и психологию ребенка, что очень важно в работе с детьми школьного возраста.</div>
                            <div class="reviewsVK__attachments">
                                <div class="reviewsVK__attachments-photos"></div>
                            </div>
                        </div>
                        <div class="reviewsVK__review" data-review-id="">
                            <div class="reviewsVK__owner">
                                <img src="assets\img\camera_100.png" alt="" class="reviewsVK__photo reviewsVK__photo_100">
                                <p class="h3 reviewsVK__username">
                                    <span class="reviewsVK__name reviewsVK__name_first">Алла</span>
                                    <span class="reviewsVK__name reviewsVK__name_last">Вячеславовна</span>
                                </p>
                                <div class="reviewsVK__date"></div>
                            </div>
                            <div class="reviewsVK__text">Огромное спасибо тренеру-преподавателю центра "Крепыш" Шалимовой Анастасии Александровне за ее труд и трепетное отношение к нашим деткам. Специалист высокого класса!!!</div>
                            <div class="reviewsVK__attachments">
                                <div class="reviewsVK__attachments-photos"></div>
                            </div>
                        </div>
                        <div class="reviewsVK__review" data-review-id="">
                            <div class="reviewsVK__owner">
                                <img src="assets\img\camera_100.png" alt="" class="reviewsVK__photo reviewsVK__photo_100">
                                <p class="h3 reviewsVK__username">
                                    <span class="reviewsVK__name reviewsVK__name_first">Саша</span>
                                    <span class="reviewsVK__name reviewsVK__name_last">и Оля</span>
                                </p>
                                <div class="reviewsVK__date"></div>
                            </div>
                            <div class="reviewsVK__text">Выражаем благодарность тренеру Доронину Александру Александровичу! Наша доченька с удовольствием посещает все занятия и ждет с нетерпением новых! Спасибо за Ваш профессионализм и подход к нашему ребенку.</div>
                            <div class="reviewsVK__attachments">
                                <div class="reviewsVK__attachments-photos"></div>
                            </div>
                        </div>
                        <div class="reviewsVK__review" data-review-id="">
                            <div class="reviewsVK__owner">
                                <img src="assets\img\camera_100.png" alt="" class="reviewsVK__photo reviewsVK__photo_100">
                                <p class="h3 reviewsVK__username">
                                    <span class="reviewsVK__name reviewsVK__name_first">Вероника</span>
                                    <span class="reviewsVK__name reviewsVK__name_last">Александровна</span>
                                </p>
                                <div class="reviewsVK__date"></div>
                            </div>
                            <div class="reviewsVK__text">Мы занимаемся у тренера Александра Александровича. Детки очень довольны. Стали более крепкими и перестали часто болеть.</div>
                            <div class="reviewsVK__attachments">
                                <div class="reviewsVK__attachments-photos"></div>
                            </div>
                        </div>
                        <div class="reviewsVK__review" data-review-id="">
                            <div class="reviewsVK__owner">
                                <img src="assets\img\camera_100.png" alt="" class="reviewsVK__photo reviewsVK__photo_100">
                                <p class="h3 reviewsVK__username">
                                    <span class="reviewsVK__name reviewsVK__name_first">Маргарита</span>
                                    <span class="reviewsVK__name reviewsVK__name_last"></span>
                                </p>
                                <div class="reviewsVK__date"></div>
                            </div>
                            <div class="reviewsVK__text">Спасибо за занятия! ребенок начал лучше чувствовать себя! Меньше болеет и в Сашуле еще больше жизни! Спасибо!!!</div>
                            <div class="reviewsVK__attachments">
                                <div class="reviewsVK__attachments-photos"></div>
                            </div>
                        </div>
                        <div class="reviewsVK__review" data-review-id="">
                            <div class="reviewsVK__owner">
                                <img src="assets\img\camera_100.png" alt="" class="reviewsVK__photo reviewsVK__photo_100">
                                <p class="h3 reviewsVK__username">
                                    <span class="reviewsVK__name reviewsVK__name_first">Евгений</span>
                                    <span class="reviewsVK__name reviewsVK__name_last"></span>
                                </p>
                                <div class="reviewsVK__date"></div>
                            </div>
                            <div class="reviewsVK__text">Отзыв о школе гимнастики.
Мне нравится подход к дисциплине у Александра. Все четко, ребенок слушается и выполняет всё, что от него просят. Ну и нам повезло с расположением на проспекте победителей. Всё рядом. Будем советовать друзьям..</div>
                            <div class="reviewsVK__attachments">
                                <div class="reviewsVK__attachments-photos"></div>
                            </div>
                        </div>
                        <div class="reviewsVK__review" data-review-id="">
                            <div class="reviewsVK__owner">
                                <img src="assets\img\camera_100.png" alt="" class="reviewsVK__photo reviewsVK__photo_100">
                                <p class="h3 reviewsVK__username">
                                    <span class="reviewsVK__name reviewsVK__name_first">Дарья</span>
                                    <span class="reviewsVK__name reviewsVK__name_last">Машкова</span>
                                </p>
                                <div class="reviewsVK__date"></div>
                            </div>
                            <div class="reviewsVK__text">Долго выбирали тренера, но выбрали и рады, что занимаемся у Артура Петровича! Не очень понравились нам условия обучение в другой школе (я так понимаю здесь нельзя писать названия). Здесь хотя и сначала опасалась, что на детишек бывают кричат, но через месяц поняла, на сколько это правильно! Анжелика стала по другому вести себя даже, что ли как-то взрослее стала! Очень нравятся тренировки и когда приходит домой показывает, что делала. Спасибо вам!</div>
                            <div class="reviewsVK__attachments">
                                <div class="reviewsVK__attachments-photos"></div>
                            </div>
                        </div>
                        <!-- / -->

                    </div>

                    <button type="submit" id="reviewsVK__getComments" class="btn btn-primary1 btn-primary1_new reviewsVK__getComments" role="button">Ещё отзывов</button>
                </div>
            </div>
        </div>
    </div>
</section>
