<!--
    ![ REVIEWS-VIDEO ]
-->
<!--
    @name: -=[ reviews-video ]=-.
    @description: видео отзывы.
-->

<section id="reviews-video" class="bg-cover">

    <div class="row">
        <div class="col-xs-12">
            <div class="title">
                <h2>
                    Видео отзывы:
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="reviewsVideo" id="reviewsVideo">
                <p>Всего отзывов:&nbsp;
                    <span id="reviewsVideo__count" class="reviewsVideo__count">42</span><!-- /
                    <span id="reviewsVK__count-whole" class="reviewsVK__count-whole">42</span>-->
                </p>

                <div class="reviewsVideo__reviews" id="reviewsVideo__reviews">

                    <div class="reviewsVideo__review">

                    </div>

                </div>

            </div>
        </div>
    </div>

</section>

<!-- / двойной блок текстовых и видео отзывов -->
