<!--
    ![ REVIEWS-REVIEWS-VIDEO ]
-->
<!--
    @name: -=[ reviews-reviews-video ]=-.
    @description: двойной блок текстовых и видео отзывов.
-->
<div class="twice-section twice-section_secs_reviews-reviews-video" id="reviews-reviews-video">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-6">
                //= reviews.html
            </div>

            <div class="col-xs-12 col-md-6">
                //= reviews-video.html
            </div>

        </div>
    </div>
</div>
<!-- / двойной блок текстовых и видео отзывов -->
