<section id="reviews" class="bg-cover">
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        Отзывы из книг благодарности:
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <!-- Text Corousel -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                        <div id="reviews-carousel-slider" data-ride="carousel" class="carousel slide animate-in" data-anim-type="fade-in-up" data-interval="false">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3>Алексей Петрович</h3>
                                    <p>Занимаемся в центре пол года у тренера Дарьи Адамовны. Очень внимательный и любящий свою работу преподаватель. Ребенок очень доволен. Стал более дисциплинированным, собранным и бодрым. </p>
                                    <div class="hidden numberReview">1</div>
                                </div>
                                <div class="item">
                                    <h3>Оля</h3>
                                    <p>Сына привела в центр с большим сомнением. Но после первого пробного занятия мои сомнения улетучились. Более организованного и правильно подобранного по возрасту занятия еще не видела ни в одном детском оздоровительном центре. Здесь действительно работают ПРОФЕССИОНАЛЫ!!! </p>
                                    <div class="hidden numberReview">2</div>
                                </div>
                                <div class="item">
                                    <h3>Мария</h3>
                                    <p>Занимаемся у Сергея Микулина на слободской 169. Мой ребенок просто в восторге от тренировок и всегда ждет следующих занятий. Спасибо вам Сергей за вашу работу. </p>
                                    <div class="hidden numberReview">3</div>
                                </div>
                                <div class="item">
                                    <h3>Олег</h3>
                                    <p>Мой сын тренируется в группе у Сергея Михайловича. Он после 6 месяцев занятий, стал более координационным в своих действиях, дисциплинированным, стал меньше болеть. Дарья Адамовна спасибо вам, за ваш нелегкий труд. </p>
                                    <div class="hidden numberReview">4</div>
                                </div>
                                <div class="item">
                                    <h3>Вика</h3>
                                    <p>Тренируемся в группе у Александр Александровича. Сын очень доволен занятиями, показывает дома элементы, которым учит Александр Александрович. От себя мамы, хочу сказать наш тренер самый лучший. </p>
                                    <div class="hidden numberReview">5</div>
                                </div>
                                <div class="item">
                                    <h3>Елена</h3>
                                    <p>Ходим на занятия к Александр Александровичу. Моей дочке все нравится и она с нетерпением ждет следующих тренировок. Спасибо вам Александр Александрович. </p>
                                    <div class="hidden numberReview">6</div>
                                </div>
                                <div class="item">
                                    <h3>Александр Васильевич</h3>
                                    <p>Посещаем занятия на проспекте победителей 109 занимаемся в группе у Артур Петровича. Хочу сказать, что наш тренер очень хорошо знает свое дело и успевает уделить время каждому ребенку. Наш сын очень доволен занятиями и мы научились много нового. Спасибо Артур Петрович. </p>
                                    <div class="hidden numberReview">7</div>
                                </div>
                                <div class="item">
                                    <h3>Ирина Владимировна</h3>
                                    <p>Ходим на занятия к Артур Петровичу. Наш сынок просто сияет и всегда спрашивает, когда будут следующие занятия, очень любит своего тренера, а от себя мамы, хочу сказать, что у Артура Петровича железная дисциплина в группе и он знает свое дело. Спасибо Артур Петрович. </p>
                                    <div class="hidden numberReview">8</div>
                                </div>
                                <div class="item">
                                    <h3>Алексей Иванович</h3>
                                    <p>Хотим выразить благодарность нашему тренеру Артуру Петровичу. Более ответственного и высококвалифицированного специалиста в сфере физической культуры и спорта еще не встречала. Человек, который действительно знает свое дело и психологию ребенка, что очень важно в работе с детьми школьного возраста. </p>
                                    <div class="hidden numberReview">9</div>
                                </div>
                                <div class="item">
                                    <h3>Алла Вячеславовна</h3>
                                    <p>Огромное спасибо тренеру-преподавателю центра "Крепыш" Почиковской Дарье Адамовне за ее труд и трепетное отношение к нашим деткам. Специалист высокого класса!!! </p>
                                    <div class="hidden numberReview">10</div>
                                </div>
                                <div class="item">
                                    <h3>Саша и Оля</h3>
                                    <p>Выражаем благодарность тренеру Доронину Александру Александровичу! Наша доченька с удовольствием посещает все занятия и ждет с нетерпением новых! Спасибо за Ваш профессионализм и подход к нашему ребенку. </p>
                                    <div class="hidden numberReview">11</div>
                                </div>
                                <div class="item">
                                    <h3>Вероника Александровна</h3>
                                    <p>Мы занимаемся у тренера Александра Александровича. Детки очень довольны. Стали более крепкими и перестали часто болеть. </p>
                                    <div class="hidden numberReview">12</div>
                                </div>

                                <hr>

                                <div class="review-number">
                                    <span id="currentReview">1</span><span class="allReview">/367</span>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#reviews-carousel-slider" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#reviews-carousel-slider" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Text Carousel -->

            </div>
        </div>
    </div>
</section>
