<!--
    ![ REVIEWS-VIDEO ]
-->
<!--
    @name: -=[ reviews-video ]=-.
    @description: видео отзывы.
-->

<section id="reviews-video" class="bg-cover">

    <div class="row">
        <div class="col-xs-12">
            <div class="title">
                <h2>
                    Видео отзывы:
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="reviewsVideo" id="reviewsVideo">
                <p>Всего отзывов:&nbsp;
                    <span id="reviewsVideo__count" class="reviewsVideo__count">42</span><!-- /
                    <span id="reviewsVK__count-whole" class="reviewsVK__count-whole">42</span>-->
                </p>

                <div class="reviewsVideo__reviews" id="reviewsVideo__reviews">

                    <div class="reviewsVideo__review reviewsVideo__review_first">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container reviewsVideo__video-player-container_first">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KB80ZfBuhic?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data reviewsVideo__video-data_first">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        За&nbsp;8&nbsp;месяцев начал садиться на&nbsp;шпагат, стойку на&nbsp;голове делает, на&nbsp;руках, на&nbsp;батуте сальто вперед и&nbsp;назад&nbsp;&mdash; для меня это конкретный уровень преподавательского состава и&nbsp;отношения к&nbsp;моему ребенку!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4tpD3oY1mJQ?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Мы&nbsp;ездим 60&nbsp;км с&nbsp;Марьиной Горки и&nbsp;нас это не&nbsp;пугает!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EmiOWODcNA0?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Ребенок физически лучше развит стал однозначно!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Iiw0RW8fAMs?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Ей&nbsp;7&nbsp;лет: поперечный шпагат за&nbsp;полгода, мостик, отжимается 10&nbsp;раз, дисциплина!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/95GfPpQNv_Y?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Она стала ровнее держать спинку, красивее ходить, она стала очень собранная, не&nbsp;разбалованная теперь
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hdj-Vvtac5Y?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Пришли по&nbsp;рекомендации сестры, а&nbsp;сестра&nbsp;&mdash; врач!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t4Z7C6WP_cY?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Мы&nbsp;очень рано сели на&nbsp;шпагат! Показывает всем гостям. На&nbsp;всех днях Рождения она звезда у&nbsp;нас самая главная!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Y-QldLOw3aA?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Здесь есть общая укрепляющая и&nbsp;оздоровительная гимнастика!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OTGlFXGNsMs?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Привлекло близкое расположение и&nbsp;были огорчены, что поздно узнали о&nbsp;Крепыше
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kLWBxnsSkTU?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Болеть ребенок стал ГОРАЗДО меньше, чем это было раньше!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OYhfW-lPzPc?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        В&nbsp;другом заведении занятия были вроде игры, а&nbsp;здесь НАСТОЯЩИЕ
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3Vjd9i3fJMU?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Я&nbsp;такого восторга у&nbsp;ребенка никогда не&nbsp;видела!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rAeNRrY01ao?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        За&nbsp;весь год больничных у&nbsp;нас не&nbsp;было!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Pqav_nhHKy4?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Надеюсь, на&nbsp;следующий год мы&nbsp;сможем сюда вернуться!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jxgvcCkQKm0?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Быстро сели на&nbsp;шпагат, чего раньше у&nbsp;нас вообще не&nbsp;получалось
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vKdGt_U-G4s?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Тренер очень хорошо находит язык с&nbsp;детьми!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7VZmr-vfTIw?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Если ребенок плачет&nbsp;&mdash; тренер подойдет, возьмёт на&nbsp;ручки, успокоит&quot;. Гимнастика детей 3&nbsp;лет
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XkiKV28U7t8?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Очень любит детей, не&nbsp;смотря на&nbsp;то, что строг с&nbsp;ними
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9ijAXZIuKLo?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Самое главное, что у&nbsp;ребенка контакт с&nbsp;тренером есть
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GcDI2dz1hto?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Удобное месторасположение, цена приемлемая и ребенку самой нравится!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KEib85JIEWw?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Я&nbsp;думаю, что гимнастика, в&nbsp;данный момент, самый лучший вариант
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fIN26pUzLto?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Подруге посоветовала, она в&nbsp;другом конце города и&nbsp;тоже рядом с&nbsp;домом нашла свой Крепыш
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/874vPAF9Fm4?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Каждый спортсмен ищет своего тренера и&nbsp;здесь мы&nbsp;его нашли
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RIGzOxWMEEo?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Если мы&nbsp;куда-то едем на&nbsp;выходные, она уже сразу думает, что мы&nbsp;едем на&nbsp;гимнастику
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_R4LPIXQhLI?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Лучше отзывов, чем со&nbsp;слов ребенка&nbsp;&mdash; я&nbsp;никогда не&nbsp;слышала
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ky_Gjs7REKo?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Гармоничное развитие и&nbsp;дисциплина! Ребенок подтянулся, окреп, оздоровился
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5VYj4P-jbpw?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Нам добираться 15&nbsp;минут на&nbsp;самокате&nbsp;&mdash; и&nbsp;мы&nbsp;здесь!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_arZzNgInzs?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Мне нравится, как тренер хорошо ведет занятия: и&nbsp;строгость, и&nbsp;дисциплина. Всё как положено
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tu7-Swfqqro?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Корзинку умеет, шпагат пробуем и&nbsp;лошадку!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lzwtb1FK8Kg?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Мы&nbsp;ходим в&nbsp;сад и&nbsp;не&nbsp;болели целый сезон! Зима прошла на&nbsp;УРА!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bA_DraxPGRU?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Стал более дисциплинированный и&nbsp;за&nbsp;этот год мы&nbsp;болели только 1&nbsp;раз!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rhFxkeIWMlg?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Мне нравится садиться на&nbsp;шпагат!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cjat_cB17BQ?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Если&nbsp;бы можно было больше, то&nbsp;водили&nbsp;бы больше!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q-rZZ2Vb-nw?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Нет сильной температуры, сильного кашля, как у&nbsp;большинства родителей, которые не&nbsp;водят на&nbsp;гимнастику!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JOyYaoZaaow?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Дисциплина здесь соответствующая! Тренер строгий, но&nbsp;справедливый!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EwZfdr3OaVQ?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Малыш перестал бояться высоты, меньше стал болеть, отжиматься начал и&nbsp;подтягиваться 5&nbsp;раз!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pNSU-GEcekU?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Этот вид спорта поможет им&nbsp;развиться как личности!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/axaYZFG4geo?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Цены порадовали и&nbsp;близко к&nbsp;дому!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XF_Wu3Y_Dbg?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Она стала более пластичной и&nbsp;ребенок стал более дисциплинированным
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7jkm1Zmd46Q?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Лучше здесь на&nbsp;тренировке, чем дома на&nbsp;голове стоять!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/z-It9kftrAQ?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        Очень-очень сильно нравится! =)&quot; - так&nbsp;же в&nbsp;первую десятку
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewsVideo__review">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="embed-responsive embed-responsive-16by9 reviewsVideo__video-player-container">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ssDS42EfImU?autohide=1&disablekb=1&color=white&rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="reviewsVideo__video-data">
                                    <div class="reviewsVideo__review-owner h4">
                                        Елена
                                    </div>
                                    <h3 class="h4">
                                        По&nbsp;времени очень удобно и&nbsp;постоянное освещение в&nbsp;соц. Сетях! Всегда можно увидеть фотографии!
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>

<!-- / двойной блок текстовых и видео отзывов -->
