<section id="solution" class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        <span>Поэтому </span>
                        в наших центрах
                    </h2>
                </div>
            </div>
        </div>

        <div class="row solutions">
            <div class="col-sm-4">
                <div class="solution">
                    <p>Учится 427 детей. 331 ребенок занимается постоянно.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="solution">
                    <p>Каждый из которых выполняет основные упражнения уже к 6 месяцу занятий.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="solution">
                    <p>Мы делаем перерасчет абонемента, если ребенок пропустил занятия по болезни.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="solution-result lst_result-result" id="solution-result">
                    <h3>Итог: </h3>
                    <p>Значительно укрепляется иммунитет.</p>
                    <p>Мы посчитали и выяснили, что во второй половине сезона мы делаем на 67 перерасчетов меньше.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="title">
                    <h2>
                        Записаться на бесплатное пробное занятие.
                    </h2>
                </div>
                <p>
                    <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#modalOrder" data-service="[Шапка] - Оставить заявку" role="button" id="hero-main-btn">Оставить заявку</button>
                </p>
                <p class="btn-label">Будет 3 года в сентябре? Запишитесь уже сейчас!</p>
            </div>
        </div>
    </div>
</section>
