<section id="solution" class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        <span>Поэтому </span>
                        в наших центрах
                    </h2>
                </div>
            </div>
        </div>

        <div class="row solutions">
            <div class="col-sm-4">
                <div class="solution">
                    <p>Учится 427 детей. 331 ребенок занимается постоянно.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="solution">
                    <p>Каждый из которых выполняет основные упражнения уже к 6 месяцу занятий.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="solution">
                    <p>Мы делаем перерасчет абонемента, если ребенок пропустил занятия по болезни.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="solution-result">
                    <h4>Итог: </h4>
                    <p>Значительно укрепляется иммунитет.</p>
                    <p>Мы посчитали и выяснили, что во второй половине сезона мы делаем на 67 перерасчетов меньше.</p>
                </div>
            </div>
        </div>
    </div>
</section>
