<footer id="footer" role="contentinfo">

    <div class="blackout"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="copy">
                    <p>© 2015 Центр оздоровительно-развивающей</p>
                    <p>гимнастики для детей от 3 до 8 лет «Крепыш»</p>
                </div>

                <div class="firm">
                    <p>ЧУП "БАРО-СПОРТ" 192388055</p>
                    <p>г. Минск ул. Козыревская 15-25</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="contacts">
                    <p>г. Минск</p>
                    <p>
                        <a href="tel:+375299856533"><i class="fa fa-phone" aria-hidden="true" id="footer-phone-number-1"></i> +375 29 985-65-33</a>
                    </p>
                    <p>
                        <a href="tel:+375295072418"><i class="fa fa-phone" aria-hidden="true" id="footer-phone-number-2"></i> +375 29 507-24-18</a>
                    </p>
                    <p>
                        <a href="mailto:krepysh1@tut.by" id="footer-email"><i class="fa fa-envelope-o" aria-hidden="true"></i> krepysh1@tut.by</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
