<footer id="footer" role="contentinfo">

    <div class="blackout"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="copy">
                    <p>© 2015 Центр оздоровительно-развивающей</p>
                    <p>гимнастики для детей от 3 до 8 лет «Крепыш»</p>
                </div>

                <div class="firm">
                    <p>ЧУП "БАРО-СПОРТ" 192388055</p>
                    <p>г. Минск ул. Козыревская 15-25</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="contacts">
                    <p>г. Минск</p>
                    <p>+375 29 985-65-33</p>
                    <p>+375 29 507-24-18</p>
                    <p>krepysh1@tut.by</p>
                </div>
            </div>
        </div>
    </div>

</footer>
