<header id="header" class="bg-cover">

    <!--<div class="blackout"></div>-->

    <div class="header-top" id="hTop">
        <nav class="navbar_main navbar navbar-default navbar-fixed-top" id="navbar_main" role="navigation">
            <div class="container">

                <div class="row">
                    <div class="col-xs-12">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu_main" aria-expanded="false">
                                <span class="sr-only">Развернуть навигацию</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="#header" class="scrollTo navbar-brand">
                                <img src="assets/img/logo.png" alt="krepysh" class="logo">
                            </a>
                            <a href="#header" class="scrollTo navbar-brand">
                                <span id="descr" class="">
                                    Центры гимнастики "Крепыш" для детей 3-8 лет.
                                </span>
                                <span id="utpScroll" class="">
                                    Центры гимнастики "Крепыш" <br />
                                    для детей 3-8 лет.
                                </span>
                            </a>
                            <button type="button" id="utpScroll-btn" class="btn btn-primary1" data-toggle="modal" data-target="#modalOrder" data-service="[Шапка] - Записаться на пробное занятие" role="button">Записаться на пробное занятие</button>
                        </div>

                        <div>
                            <ul class="nav navbar-nav navbar-right phones">
                                <li class="phone animated infinite hinge.tmp">
                                    <a href="tel:+375299856533" class="btn btn-default" id="top-phone-number-1"><i class="fa fa-phone" aria-hidden="true"></i> +375 29 985-65-33</a>
                                </li>
                                <li class="phone animated infinite pulse.tmp">
                                    <a href="tel:+375295072418" class="btn btn-default" id="top-phone-number-2"><i class="fa fa-phone" aria-hidden="true"></i> +375 29 507-24-18</a>
                                </li>
                                <li id="callMe">
                                    <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#modalOrder" data-service="[Шапка] - Перезвонить мне" role="button"><i class="fa fa-phone" aria-hidden="true"></i> <span>Перезвонить мне</span></button>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse text-center lavaLampNoImage" id="menu_main">
                            <ul class="nav navbar-nav navbar-nav_nav lava" id="lava">
                                <li class="navbar-nav__item lava__elem lava__elem_1">
                                    <a href="#krepysh-dollar" class="scrollTo lava__link lava__link_1">Крепыш.Доллар</a>
                                </li>
                                <li class="navbar-nav__item lava__elem lava__elem_6">
                                    <a href="#addresses" class="scrollTo lava__link lava__link_6">Карта и адреса</a>
                                </li>
                                <li class="navbar-nav__item lava__elem lava__elem_5">
                                    <a href="#price" class="scrollTo lava__link lava__link_5">Цены</a>
                                </li>
                                <li class="navbar-nav__item lava__elem lava__elem_7">
                                    <a href="#gallery" class="scrollTo lava__link lava__link_7">Фотоотчёты</a>
                                </li>
                                <li class="navbar-nav__item lava__elem lava__elem_4">
                                    <a href="#reviews-reviews-video" class="scrollTo lava__link lava__link_4">Отзывы</a>
                                </li>
                                <li class="navbar-nav__item lava__elem lava__elem_2">
                                    <a href="#problems" class="scrollTo lava__link lava__link_2">Боли родителей</a>
                                </li>
                                <li class="navbar-nav__item lava__elem lava__elem_3">
                                    <a href="#advantages" class="scrollTo lava__link lava__link_3">Наши решения</a>
                                </li>
                                <li class="navbar-nav__item lava__elem lava__elem_8">
                                    <a href="#coaches" class="scrollTo lava__link lava__link_8">Тренеры</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                </div>

            </div>
            <!-- /.container -->
        </nav>
    </div>

    <!-- HERO -->
    <div class="header-content">
        <div class="container container-bg">
            <div class="row">
                <div class="col-md-6">
                    <div id="youtube-video-desktop">
                        <div class="video video-responsive" id="video">
                            <div id="player"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="offer offer-right">
                                <h1>
                                    Оздоровительно-развивающая гимнастика для детей от 3 до 8 лет
                                    <span id="dynamic_keywords"><?= $addH1_geoloc; ?></span>
                                </h1>

                                <p class="hLnkToAddrs-container">
                                    <a href="#addresses" class="scrollTo h2 hLnkToAddrs">Смотреть все 17 адресов</a>
                                </p>

                                <h2 class="text-left">
                                    <ul>
                                        <li>тренеры – чемпионы по гимнастике</li>
                                        <li>самые низкие цены в Минске</li>
                                        <li>15 минут от дома</li>
                                    </ul>
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div id="youtube-video-mobile"></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="offer offer-bottom">
                                <div class="title">
                                    <h2>
                                        Оставьте заявку на&nbsp;бесплатное занятие и&nbsp;участвуйте в&nbsp;розыгрыше 5&nbsp;абонементов
                                    </h2>
                                </div>
                                <!--
                                <p>
                                    <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#modalOrder" data-service="[Шапка] - Оставить заявку" role="button" id="hero-main-btn">Оставить заявку</button>
                                </p>
                                -->
                                <div class="whichService" data-nameForm="1 экран" data-btnIDsubmit="hero-main-btn">
                                    //= ../modules/forms/built-in-formOrder.html
                                </div>
                                <p class="btn-label">Ребёнку будет 3 года в сентябре? Запишитесь уже сейчас!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
