<header id="header" class="bg-cover">

    <!--<div class="blackout"></div>-->

    <div class="header-top" id="hTop">
        <nav class="navbar_main navbar navbar-default navbar-fixed-top" id="navbar_main" role="navigation">
            <div class="container">

                <div class="row">
                    <div class="col-xs-12">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu_main" aria-expanded="false">
                                <span class="sr-only">Развернуть навигацию</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="#header" class="scrollTo navbar-brand">
                                <img src="assets/img/logo.png" alt="krepysh" class="logo">
                            </a>
                            <a href="#header" class="scrollTo navbar-brand">
                                <span id="descr" class="">
                                    Центры гимнастики "Крепыш"<br>для детей 3-10 лет
                                </span>
                            </a>
                            <button type="button" id="utpScroll-btn" class="btn btn-primary1" data-toggle="modal" data-target="#modalOrder" data-service="[Шапка] - Записаться на пробное занятие" role="button">Записаться на пробное занятие</button>
                        </div>

                        <div>
                            <ul class="nav navbar-nav navbar-right phones">
                                <li class="phone animated infinite pulse.tmp">
                                    <a href="tel:+375292255187" class="btn btn-default" id="top-phone-number-2"><i class="fa fa-phone" aria-hidden="true"></i> +375 (29) 225-51-87</a>
                                </li>
                                <li class="phone animated infinite pulse.tmp">
                                    <a href="tel:+375444568516" class="btn btn-default" id="top-phone-number-2"><i class="fa fa-phone" aria-hidden="true"></i> +375 (44) 456-85-16</a>
                                </li>
                                <li id="callMe">
                                    <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#modalOrder" data-service="[Шапка] - Перезвонить мне" role="button"><i class="fa fa-phone" aria-hidden="true"></i> <span>Перезвонить мне</span></button>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse text-center lavaLampNoImage" id="menu_main">
                            <ul class="nav navbar-nav navbar-nav_nav lava" id="lava">
                                <li class="navbar-nav__item lava__elem">
                                    <a href="#founder" class="scrollTo lava__link">Основатель–Чемпион</a>
                                </li>
                                <li class="navbar-nav__item lava__elem">
                                    <a href="#price" class="scrollTo lava__link">Цены</a>
                                </li>
                                <li class="navbar-nav__item lava__elem">
                                    <a href="#addresses" class="scrollTo lava__link">Адрес и&nbsp;расписание</a>
                                </li>
                                <li class="navbar-nav__item lava__elem">
                                    <a href="#reviews" class="scrollTo lava__link">Отзывы</a>
                                </li>
                                <li class="navbar-nav__item lava__elem">
                                    <a href="#krepysh-dollar" class="scrollTo lava__link">Крепыш.Доллар</a>
                                </li>
                                <li class="navbar-nav__item lava__elem">
                                    <a href="#gallery" class="scrollTo lava__link">Фотоотчёты</a>
                                </li>
                                <li class="navbar-nav__item lava__elem">
                                    <a href="#advantages" class="scrollTo lava__link">Наши преимущества</a>
                                </li>
                                <li class="navbar-nav__item lava__elem">
                                    <a href="#coaches" class="scrollTo lava__link">Тренеры</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                </div>

            </div>
            <!-- /.container -->
        </nav>
    </div>

    <!-- HERO -->
    <div class="header-content">
        <div class="container container-bg">
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="offer offer-right">
                                <h1>
                                    Оздоровительно-развивающая гимнастика для детей от&nbsp;3&nbsp;до&nbsp;12&nbsp;лет в&nbsp;г. Барановичи
                                </h1>

                                <p class="hLnkToAddrs-container">
                                    <a href="#price" class="scrollTo h2 hLnkToAddrs">Смотреть цены и&nbsp;расписание</a>
                                </p>

                                <h2 class="text-left">
                                    <ul>
                                        <li>тренеры&nbsp;&mdash; чемпионы по&nbsp;гимнастике и&nbsp;спортивной акробатике</li>
                                        <li>укрепление здоровья и&nbsp;дисциплины детей</li>
                                        <li>центры в&nbsp;Ледовом Дворце и&nbsp;СШ &#8470;&nbsp;20</li>
                                    </ul>
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div id="youtube-video-mobile"></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="offer offer-bottom">
                                <div class="title">
                                    <h2>
                                        Оставьте заявку на&nbsp;бесплатное занятие и&nbsp;участвовать в&nbsp;розыгрыше абонемента и&nbsp;призов
                                    </h2>
                                </div>
                                <!--
                                <p>
                                    <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#modalOrder" data-service="[Шапка] - Оставить заявку" role="button" id="hero-main-btn">Оставить заявку</button>
                                </p>
                                -->
                                <div class="whichService" data-nameForm="1 экран" data-btnIDsubmit="hero-main-btn">
                                    //= ../modules/forms/built-in-formOrder.html
                                </div>
                                <p class="btn-label">Ребёнку будет 3 года в сентябре? Запишитесь уже сейчас!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
