<header id="header" class="bg-cover">

    <!--<div class="blackout"></div>-->

    <div class="header-top">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="." class="navbar-brand">
                                <img src="assets/img/logo.jpg" alt="krepysh" class="logo">
                                <span id="descr" class="">
                                    Центры оздоровительно-развивающей гимнастики в <br />
                                    каждом районе г.Минска. Для детей от 3 до 8 лет.
                                </span>
                                <span id="utpScroll" class="">
                                    Записаться на пробное занятие и участвовать в <br />
                                    розыгрыше 3х абонементов.
                                </span>
                            </a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-right phones">
                                <li id="utpScroll-btn">
                                    <button type="button" class="btn btn-primary2" data-toggle="modal" data-target="#modalOrder" data-service="[Шапка] - Запись на пробное" role="button">Запись на пробное</button>
                                </li>
                                <li class="phone"><a href="tel:+375299856533">+375 29 985-65-33</a></li>
                                <li class="phone"><a href="tel:+375295072418">+375 29 507-24-18</a></li>
                                <li id="callMe">
                                    <button type="button" class="btn btn-primary2" data-toggle="modal" data-target="#modalOrder" data-service="[Шапка] - Перезвонить мне" role="button">Перезвонить мне</button>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="header-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-6 col-md-8 col-md-offset-4">
                    <!-- col-lg-6 col-lg-offset-6 col-md-8 col-md-offset-4 -->
                    <div class="offer offer-right">
                        <h1>
                            Ваш ребенок получит ровную осанку и гибкость, друзей по спорту, укрепит иммунитет<br /><br />
                            Обучаясь у тренера-чемпиона по гимнастике, по самой низкой цене в Минске, в 15 минутах ходьбы от дома
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-6 col-md-8 col-md-offset-4">
                    <div class="offer offer-bottom">
                        <div class="title">
                            <h2>
                                Записаться на бесплатное пробное занятие и участвовать в розыгрыше 3х абонементов.
                            </h2>
                        </div>
                        <p>
                            <!--<button type="button" class="btn" data-toggle="modal" data-target="#modalOrder" data-service="[Шапка] - подробнее о розыгрыше." role="button">подробнее о розыгрыше</button>
                            <button type="button" class="btn btn-light_yellow" data-toggle="modal" data-target="#modalOrder" data-service="[Шапка] - подробнее о розыгрыше." role="button">подробнее о розыгрыше</button>
                            <button type="button" class="btn btn-main" data-toggle="modal" data-target="#modalOrder" data-service="[Шапка] - подробнее о розыгрыше." role="button">подробнее о розыгрыше.</button>
                            <button type="button" class="btn btn-second" data-toggle="modal" data-target="#modalOrder" data-service="[Шапка] - подробнее о розыгрыше." role="button">подробнее о розыгрыше</button>

                            <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#modalOrder" data-service="[Шапка] - подробнее о розыгрыше." role="button">подробнее о розыгрыше</button>
                            <button type="button" class="btn btn-primary2" data-toggle="modal" data-target="#modalOrder" data-service="[Шапка] - подробнее о розыгрыше." role="button">подробнее о розыгрыше</button>-->
                            <button type="button" class="btn btn-primary3" data-toggle="modal" data-target="#modalOrder" data-service="[Шапка] - подробнее о розыгрыше." role="button">подробнее о розыгрыше</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
