@charset "UTF-8";

#footer {
    background-color: map-get($colors, "bp3");
    /*background-attachment: fixed;*/
    box-shadow: inset 0 15px 15px rgba(map-get($colors, "b_b"), 0.5);
    padding: 3em 0;
    position: relative;
    text-align: center;

    p {
        a {
            color: map-get($colors, "b_w");

            &:link, &:visited, &:active, &:focus, &:focus:active {
                color: map-get($colors, "b_w");
            }

            &:hover {
                color: darken(map-get($colors, "b_w"), 20%);
            }
        }
    }

    .contacts {

        p {

            a {

                @media only screen and (max-width: 767px) {
                    margin: 15px 0;
                    font-size: 2em;
                }
            }
        }
    }
}
