@charset "UTF-8";

#header {
    background-image: url('../img/header/bg_2.jpg'); /*krepysh-hero*/
    background-attachment: fixed;
    /*box-shadow: inset 0 -15px 15px rgba(map-get($colors, "b_b"), 0.5);*/
    opacity: 0;
    overflow: hidden;
    position: relative;

    h1, h2 {

    }

    .offer {

        &-right {

            h2 {
                color: map-get($colors, "bp3");
                text-align: right;
            }
        }

        &-bottom {
            .title {

                h2 {
                    /*font-family: 'Roboto', sans-serif;*/
                    font-family: 'Roboto Condensed', sans-serif;
                }
            }
        }
    }

    .header {

        &-top {

            @media only screen and (max-width: 991px) {
                text-align: center;
            }

            .navbar {

                #utpScroll-btn {
                    display: none;
                }

                #callMe {
                    @media only screen and (max-width: 991px) {
                        display: inline-block ;
                    }
                }

                #descr {

                    @media only screen and (max-width: 479px) {
                        display: none !important;
                    }
                }

                &-brand {
                    font-family: 'Roboto Slab', serif;
                    font-weight: 300;
                    font-size: 1em;
                    line-height: 1.2em;
                    padding: 8px 15px;

                    img {

                        &.logo {
                            float: left;
                            height: 35px;
                            margin-right: 15px;
                        }
                    }

                    #utpScroll {
                        display: none;
                        float: right;
                        text-align: right;

                        @media only screen and (max-width: 479px) {
                            display: none !important;
                        }
                    }
                }

                &-nav {

                    &.phones {

                        .phone {

                            @media only screen and (max-width: 991px) {
                                display: none;
                            }

                            @media only screen and (max-width: 767px) {
                                display: inline-block;
                            }

                            .fa {
                                color: map-get($colors, "bp1");
                                font-size: 1.3em;
                            }
                        }
                    }

                    li {

                        a {

                            @media only screen and (max-width: 1199px) {
                                font-size: 0.9em;
                                line-height: 30px;
                                padding: 10px 10px;
                            }
                        }
                    }

                    .btn {
                        padding: 14px 15px 14px;
                    }
                }
            }
        }

        &-content {
            padding: 51px 0 0;
            position: relative;
            text-align: center;

            .offer {
                background-color: rgba(map-get($colors, "bb"), 0.6);
                /*border-radius: 50px 0 0 50px;*/
                color: map-get($colors, "bp1");
                /*margin: 70px -15px 10px auto;*/
                /*padding: 20px; */
                margin-right: -15px;
                opacity: 0;
                overflow: hidden;
                text-shadow: 1px 1px 0px map-get($colors, "bs1");

                @media only screen and (max-width: 991px) {
                    margin-right: auto;
                }

                &-right {
                    padding: 30px 20px 20px 20px;
                }

                &-bottom {
                    padding: 0px 30px 50px;

                    p {
                        margin: 0;
                    }
                }

                h2, p {
                    max-width: 715px; /*525px*/

                    @media only screen and (max-width: 991px) {
                        min-width: 100%;
                    }
                }
            }

            h1 {
                text-align: right;
                //max-width: 565px; /*845px|710px*/
                max-width: 715px; /*525px*/
                text-transform: uppercase;

                @media only screen and (max-width: 991px) {
                    min-width: 100%;
                }
            }

            .title {
                margin: 30px auto 30px;

                h2 {

                }
            }
        }
    }
}
