@charset "UTF-8";

/// @varName: -=[ galleryImgs_count-* ]=-.
/// @description: количество картинок.
$galleryImgs_count-asanalieva: 15;
$galleryImgs_count-bogdanovicha: 16;
$galleryImgs_count-gerasimenko: 15;
$galleryImgs_count-ilimskaya: 16;
$galleryImgs_count-kalinovskogo: 17;
$galleryImgs_count-kozlova: 18;
$galleryImgs_count-landera: 13;
$galleryImgs_count-mazurova: 12;
$galleryImgs_count-mstislavca: 15;
$galleryImgs_count-narodnaya: 15;
$galleryImgs_count-pobediteley: 15;
$galleryImgs_count-radialnaya: 16;
$galleryImgs_count-sedih: 13;
$galleryImgs_count-shirokaya: 13;
$galleryImgs_count-slobodskaya: 13;
$galleryImgs_count-uborevicha: 14;
$galleryImgs_count-vaneeva: 12;
$galleryImgs_count-yakubovskogo: 14;

$galleryImgs_count-chailitko: 6;

#gallery__albums {

}

/// @BemEntryName: -=[ gallery ]=-.
/// @description: сущность галерея.
.gallery {

    &__container {

    }

    /* --- */
    /* albums */
    /* --- */

    &__album {
        position: relative;

        &:hover {

            .gallery__album-data {
                opacity: 1;
            }
        }

        &_asanalieva {
            background-image: url(../img/gallery/asanalieva/cover.jpg);
        }
        &_bogdanovicha {
            background-image: url(../img/gallery/bogdanovicha/cover.jpg);
        }
        &_gerasimenko {
            background-image: url(../img/gallery/gerasimenko/cover.jpg);
        }
        &_ilimskaya {
            background-image: url(../img/gallery/ilimskaya/cover.jpg);
        }
        &_kalinovskogo {
            background-image: url(../img/gallery/kalinovskogo/cover.jpg);
        }
        &_kozlova {
            background-image: url(../img/gallery/kozlova/cover.jpg);
        }
        &_landera {
            background-image: url(../img/gallery/landera/cover.jpg);
        }
        &_mazurova {
            background-image: url(../img/gallery/mazurova/cover.jpg);
        }
        &_mstislavca {
            background-image: url(../img/gallery/mstislavca/cover.jpg);
        }
        &_narodnaya {
            background-image: url(../img/gallery/narodnaya/cover.jpg);
        }
        &_pobediteley {
            background-image: url(../img/gallery/pobediteley/cover.jpg);
        }
        &_radialnaya {
            background-image: url(../img/gallery/radialnaya/cover.jpg);
        }
        &_sedih {
            background-image: url(../img/gallery/sedih/cover.jpg);
        }
        &_shirokaya {
            background-image: url(../img/gallery/shirokaya/cover.jpg);
        }
        &_slobodskaya {
            background-image: url(../img/gallery/slobodskaya/cover.jpg);
        }
        &_uborevicha {
            background-image: url(../img/gallery/uborevicha/cover.jpg);
        }
        &_vaneeva {
            background-image: url(../img/gallery/vaneeva/cover.jpg);
        }
        &_yakubovskogo {
            background-image: url(../img/gallery/yakubovskogo/cover.jpg);
        }

        /* --- */
        &-photos {
            display: none;
        }

        &-data {
            background-color: map-get($colors, "bp2");
            bottom: 0;
            left: 0;
            right: 0;
            padding: 5px 9px 9px 9px;
            position: absolute;
            text-align: center;
            @include transition();
        }

        &-addr {
            color: black;
            font-size: 0.9em;
            margin: 0;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    /* --- */
    /* /albums */
    /* --- */

    &__img {
        /*max-height: 350px;
        max-width: 600px;*/
        background-clip: content-box;
        background-origin: content-box;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        margin: 10px;
        @include size(calc(100% - 20px), 160px);
        @include transition();

        &:hover {
            box-shadow: 0 0 10px 2px rgb(183, 183, 183);
        }

        &_return {
            /*background-image: url(../imgs);*/
            display: block;
            /*font-size: 7.5em;*/
            font-size: 1.53em;
            text-align: center;

            /// @name: -=[ breakpoint ]=-;
            /// @description: функция-помошник работы с медиа запросами (breakpoints);
            /// @prop: xs, sm, md, lg (bootstrap);
            /// @prop: ($maxWidth: x, $minWidth: x, $maxHeight: x, $minHeight: x), где x - число с "px";
            @include breakpoint(xs) {
                font-size: 1.75em;
            }

            /// @name: -=[ breakpoint ]=-;
            /// @description: функция-помошник работы с медиа запросами (breakpoints);
            /// @prop: xs, sm, md, lg (bootstrap);
            /// @prop: ($maxWidth: x, $minWidth: x, $maxHeight: x, $minHeight: x), где x - число с "px";
            /*@include breakpoint($maxWidth: map-get($breakpoints, "md-max"), $minWidth: map-get($breakpoints, "sm-min")) {
                font-size: 1.53em;
            }*/

            .fa {
                display: block;
                font-size: 7em;
            }
        }

        /* --- */
        /* album's photo */
        /* --- */

        /* asanalieva */
        @for $i from 1 through $galleryImgs_count-asanalieva {
            &_asanalieva_#{$i} {
                background-image: url(../img/gallery/asanalieva/#{$i}.jpg);
            }
        }
        /* bogdanovicha */
        @for $i from 1 through $galleryImgs_count-bogdanovicha {
            &_bogdanovicha_#{$i} {
                background-image: url(../img/gallery/bogdanovicha/#{$i}.jpg);
            }
        }
        /* gerasimenko */
        @for $i from 1 through $galleryImgs_count-gerasimenko {
            &_gerasimenko_#{$i} {
                background-image: url(../img/gallery/gerasimenko/#{$i}.jpg);
            }
        }
        /* ilimskaya */
        @for $i from 1 through $galleryImgs_count-ilimskaya {
            &_ilimskaya_#{$i} {
                background-image: url(../img/gallery/ilimskaya/#{$i}.jpg);
            }
        }
        /* kalinovskogo */
        @for $i from 1 through $galleryImgs_count-kalinovskogo {
            &_kalinovskogo_#{$i} {
                background-image: url(../img/gallery/kalinovskogo/#{$i}.jpg);
            }
        }
        /* kozlova */
        @for $i from 1 through $galleryImgs_count-kozlova {
            &_kozlova_#{$i} {
                background-image: url(../img/gallery/kozlova/#{$i}.jpg);
            }
        }
        /* landera */
        @for $i from 1 through $galleryImgs_count-landera {
            &_landera_#{$i} {
                background-image: url(../img/gallery/landera/#{$i}.jpg);
            }
        }
        /* mazurova */
        @for $i from 1 through $galleryImgs_count-mazurova {
            &_mazurova_#{$i} {
                background-image: url(../img/gallery/mazurova/#{$i}.jpg);
            }
        }
        /* mstislavca */
        @for $i from 1 through $galleryImgs_count-mstislavca {
            &_mstislavca_#{$i} {
                background-image: url(../img/gallery/mstislavca/#{$i}.jpg);
            }
        }
        /* narodnaya */
        @for $i from 1 through $galleryImgs_count-narodnaya {
            &_narodnaya_#{$i} {
                background-image: url(../img/gallery/narodnaya/#{$i}.jpg);
            }
        }
        /* pobediteley */
        @for $i from 1 through $galleryImgs_count-pobediteley {
            &_pobediteley_#{$i} {
                background-image: url(../img/gallery/pobediteley/#{$i}.jpg);
            }
        }
        /* radialnaya */
        @for $i from 1 through $galleryImgs_count-radialnaya {
            &_radialnaya_#{$i} {
                background-image: url(../img/gallery/radialnaya/#{$i}.jpg);
            }
        }
        /* sedih */
        @for $i from 1 through $galleryImgs_count-sedih {
            &_sedih_#{$i} {
                background-image: url(../img/gallery/sedih/#{$i}.jpg);
            }
        }
        /* shirokaya */
        @for $i from 1 through $galleryImgs_count-shirokaya {
            &_shirokaya_#{$i} {
                background-image: url(../img/gallery/shirokaya/#{$i}.jpg);
            }
        }
        /* slobodskaya */
        @for $i from 1 through $galleryImgs_count-slobodskaya {
            &_slobodskaya_#{$i} {
                background-image: url(../img/gallery/slobodskaya/#{$i}.jpg);
            }
        }
        /* uborevicha */
        @for $i from 1 through $galleryImgs_count-uborevicha {
            &_uborevicha_#{$i} {
                background-image: url(../img/gallery/uborevicha/#{$i}.jpg);
            }
        }
        /* vaneeva */
        @for $i from 1 through $galleryImgs_count-vaneeva {
            &_vaneeva_#{$i} {
                background-image: url(../img/gallery/vaneeva/#{$i}.jpg);
            }
        }
        /* yakubovskogo */
        @for $i from 1 through $galleryImgs_count-yakubovskogo {
            &_yakubovskogo_#{$i} {
                background-image: url(../img/gallery/yakubovskogo/#{$i}.jpg);
            }
        }

        /* --- */
        /* / album's photo */
        /* --- */
    }
}
