@charset "UTF-8";

/// @varName: -=[ galleryImgs_count-* ]=-.
/// @description: количество картинок.
$galleryImgs_count-baranovichi: 16;

#gallery__albums {

}

/// @BemEntryName: -=[ gallery ]=-.
/// @description: сущность галерея.
.gallery {

    &__container {

    }

    /* --- */
    /* albums */
    /* --- */

    &__album {
        position: relative;

        &-data {
            background-color: map-get($colors, "bp2");
            bottom: 0;
            left: 0;
            right: 0;
            padding: 5px 9px 9px 9px;
            position: absolute;
            text-align: center;
            @include transition();
        }

        &-addr {
            color: #fff;
            font-size: 0.9em;
            margin: 0;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    /* --- */
    /* /albums */
    /* --- */

    &__img {
        /*max-height: 350px;
        max-width: 600px;*/
        background-clip: content-box;
        background-origin: content-box;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        height: 160px;
        margin: 5px -10px;
        width: calc(100% + 20px);
        @include transition();

        &:hover {
            box-shadow: 0 0 10px 2px rgb(183, 183, 183);
        }

        /* --- */
        /* album's photo */
        /* --- */

        /* baranovichi */
        @for $i from 1 through $galleryImgs_count-baranovichi {
            &_baranovichi_#{$i} {
                background-image: url(../img/gallery/baranovichi/mini/#{$i}.jpg);
            }
        }

        /* --- */
        /* / album's photo */
        /* --- */
    }

    /* контейнер формы */
    &__lead-form-container {
        margin-top: 30px;
        text-align: center;
    }
}
